/***** STYLE *****/

body {
  --sans-serif-font-family: 'Text Me One', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --serif-font-family: 'Cinzel', serif;
}

h1 {
  color: var(--purple);
}

h2 {
  color: var(--green);
}

code,
pre {
  --monspace-font-family: 'Share Tech Mono', monospace;
}
