/***** STYLE *****/

body {
  --global-font-family: 'Text Me One', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --title-font-family: 'Cinzel', serif;
}

pre {
  --pre-font-family: 'Share Tech Mono', monospace;
}

.slider {
  --slide1: url(https://animadio.org/img/slider/variables.png);
  --slide2: url(https://animadio.org/img/slider/logo.png);
  --slide3: url(https://animadio.org/img/slider/concat.png);
  --slide4: url(https://animadio.org/img/slider/animadio.png);
  --slide5: url(https://animadio.org/img/slider/states.png);
  --play-check-slide-anima: 20s linear;
}