/***** STYLE *****/

body {
  --global-font-family: 'Text Me One', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --title-font-family: 'Cinzel', serif;
}

h1 {
  color: var(--purple);
}

h2 {
  color: var(--green);
}

code,
pre {
  --pre-font-family: 'Share Tech Mono', monospace;
}

.slider {
  --keyframes-content1: url(https://animadio.org/img/slider/logo.png);
  --keyframes-content2: url(https://animadio.org/img/slider/variables.png);
  --keyframes-content3: url(https://animadio.org/img/slider/concat.png);
  --keyframes-content4: url(https://animadio.org/img/slider/states.png);
  --keyframes-content5: url(https://animadio.org/img/slider/animadio.png);
  --play-check-slide-anima: 20s linear;
}

