@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Share+Tech+Mono&family=Text+Me+One&display=swap');

:root {
  --sans-serif: 'Text Me One', sans-serif;
  --serif: 'Gabriela', serif;
  --monospace: 'Share Tech Mono', monospace;
}

body {
  --body-background-color: var(--grey-light);
}

.navbar {
  --navbar-background-color: var(--secondary-dark);
}

.head {
  --head-border: medium solid var(--fb);
  --head-color: var(--in);
}

h1,
h3 {
  --title-color: var(--primary);
}

h2 {
  --title-color: var(--secondary);
}

a {
  --link-color: var(--primary);
}

.table {
  --table-even-hover-background-color: var(--secondary-dark);
  --table-odd-hover-background-color: var(--primary-dark);
}

.menu {
  --menu-child-background-color: var(--primary-dark);
  --menu-checked-child-color: var(--primary);
  --menu-child-hover-color: var(--primary);
}

.sidebar {
  --sidebar-child-color: var(--secondary);
  --sidebar-child-hover-background-color: var(--secondary-dark);
}

.foot {
  --foot-list-background-color: var(--primary);
}
