@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Share+Tech+Mono&family=Text+Me+One&display=swap');

:root {
  --sans-serif: 'Text Me One', sans-serif;
  --serif: 'Gabriela', serif;
  --monospace: 'Share Tech Mono', monospace;

  --primary: rgb(22, 28, 91);
  --primary-dark: rgba(22, 28, 91, var(--opacity-dark));
  --primary-light: rgba(22, 28, 91, var(--opacity-light));
  --secondary: rgb(134, 193, 126);
  --secondary-dark: rgba(134, 193, 126, var(--opacity-dark));
  --secondary-light: rgba(134, 193, 126, var(--opacity-light));

  --slideT: translate(0, 5vw);
  --slideB: translate(0, -5vw);
}
