:root {
  --sans-serif-font-family: 'Text Me One', sans-serif;
  --serif-font-family: 'Cinzel', serif;
  --monospace-font-family: 'Share Tech Mono', monospace;
}

body {
  text-align: center;
  --body-background-color: lavender;
}

h1 {
  color: var(--violet);
}

h2 {
  color: var(--blue);
}
