:root {
  --sans-serif-font-family: 'Text Me One', sans-serif;
  --serif-font-family: 'Cinzel', serif;
  --monospace-font-family: 'Share Tech Mono', monospace;
}

h2 {
  color: var(--green);
}

h3 {
  color: var(--navy);
}

h4 {
  color: var(--blue);
}
