:root {
  --sans-serif-font-family: 'Text Me One', sans-serif;
  --serif-font-family: 'Cinzel', serif;
  --monospace-font-family: 'Share Tech Mono', monospace;
}

body {
  text-align: center;
  background-color: lavender;
}

h2,
h3,
h4 {
  color: var(--navy);
}
