<article id="css-home"
    class="menu-target2">
    <h2 class="anima-flipX-this">
        CSS
        <i class="fab fa-css3-alt fa-lg"></i> 
    </h2>

    <header class="head">
        Animadio use CSS Variables for overloading possibility, 
        the only thing to do is to overload the Variable you want 
        in your style.css file !
    </header>

    <nav class="sidebar">
        <a href="#css-home" 
            title="CSS Home">
            <i class="fas fa-chevron-circle-up fa-lg fa-fw"></i>
        </a>
        <a href="#css-usage" 
            title="Variables Usage">
            <i class="fas fa-code fa-lg fa-fw"></i>
        </a>
        <a href="#css-infos" 
            title="Variables infos">
            <i class="fas fa-info fa-lg fa-fw"></i>
        </a>
    </nav>

    <i class="fas fa-chevron-down fa-2x mar-top-md"
        aria-hidden="true">
    </i>

    <section id="css-usage">
        <h3>
            How to overload a CSS Variable ?
        </h3>

        <ul>
            <li>
                <p>
                    You need first to choose a 
                    <b class="color-primary">Selector</b> :
                </p>
                <code><span 
                class="color-yellow">:root</span></code>
            </li>
            <li>
                <p>
                    Then, the 
                    <b class="color-primary">CSS Variable</b> 
                    to overload :
                </p>
                <code><span 
                class="color-blue">--white</span></code>
            </li>
            <li>
                <p>
                    Finally, the 
                    <b class="color-primary">Value</b> 
                    you want to put in the Variable :
                </p>
                <code><span 
                class="color-orange">#fff</span></code>
            </li>
            <li>
                <p>
                    You will have this result for this 
                    <b class="color-primary">Example</b> :
                </p>
                <code><span 
                class="color-yellow">:root {</span> <span 
                class="color-blue">--white</span><span 
                class="color-grey">:</span> <span 
                class="color-orange">#fff</span><span 
                class="color-grey">;</span> <span 
                class="color-yellow">}</span></code>
            </li>
        </ul>
    </section>

    <i class="fas fa-minus fa-2x mar-top-lg"
        aria-hidden="true">
    </i>

    <section id="css-infos">
        <h3>
            More Variables Infos...
        </h3>

        <ul>
            <li>
                <p>
                    You can read the  
                    <b class="color-primary">MDN Web Docs</b> 
                    about CSS Variables :
                </p>
                <a class="button-primary" 
                    href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*"
                    title="Go to the MDN page about CSS Variables">
                    CSS Variables
                </a>
                <a class="button-primary" 
                    href="https://developer.mozilla.org/en-US/docs/Web/CSS/var()"
                    title="Go to the MDN page about var()">
                    var()
                </a>
                <a class="button-primary" 
                    href="https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties"
                    title="Go to the MDN page about Variables Usage">
                    Variables Usage
                </a>
            </li>
            <li>
                <p>
                    You can watch an example of a 
                    <b class="color-primary">style.css</b> 
                    file :
                </p>
                <a class="button-primary" 
                    href="https://github.com/animadio/animadio.org/blob/master/public/css/style.css"
                    title="Go to the Source Code of Animadio.org Style">
                    Overloading Example
                </a>
            </li>
            <li>
                <p>
                    You can find the 
                    <b class="color-primary">Available CSS Variables</b> 
                    in the Animadio Documentation :
                </p>
                <a class="button-primary" 
                    href="{{ url('doc') }}"
                    title="Go to the Documentation">
                    Documentation
                </a>
            </li>
        </ul>
    </section>
</article>
