<article class="menu-target1">
    <h2 class="anima-slideB-this">
        <i class="fab fa-html5 fa-lg color-green"></i> 
        HTML 
        <i class="fab fa-html5 fa-lg color-green"></i>
    </h2>

    <header class="head">
        Animadio is easy to use & very effective !
    </header>

    <p>Coming Soon !</p>
</article>
