<article class="menu-target1">
    <h2 class="anima-slideB-this">
        HTML 
        <i class="fab fa-html5 fa-lg"></i>
    </h2>

    <header class="head">
        Animadio is easy to use & very effective !
        <br>
        Use Classes for all kinds of Effects...
    </header>

    
    <section>
        <h3>How to use a CSS Class ?</h3>

    <ul>
        <li>
            <p>
                You need first to choose a 
                <b class="color-violet">Tag</b> :
            </p>
            <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">section</span><span 
            class="color-grey">&gt;</span></code>
        </li>
        <li>
            <p>
                Then, add the 
                <b class="color-violet">HTML Attribute</b> 
                <i>"class"</i> :
            </p>
            <code><span 
            class="color-orange font-italic"> class</span><span 
            class="color-grey">=</span>""</code>
        </li>
        <li>
            <p>
                Finally, the 
                <b class="color-violet">Value</b> 
                you want to put in the Attribute :
            </p>
            <code>flex</code>
        </li>
        <li>
            <p>
                You will have this result for this 
                <b class="color-violet">Example</b> :
            </p>
            <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">section</span><span 
            class="color-orange font-italic"> class</span><span 
            class="color-grey">=</span>"flex"<span 
            class="color-grey">&gt;</span></code>
        </li>
    </ul>
    </section>

    <section>
        <h3>More Classes Infos...</h3>

        <ul>
            <li>
                <p>
                    You can read the  
                    <b class="color-violet">MDN Web Docs</b> 
                    about CSS Classes :
                </p>
                <a class="button-violet" 
                    href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/class"
                    title="Go to the MDN page about HTML Class Attribute">
                    Class Attribute
                </a>
                <a class="button-violet" 
                    href="https://developer.mozilla.org/en-US/docs/Web/CSS/Class_selectors"
                    title="Go to the MDN page about CSS Class Selector">
                    Class Selector
                </a>
            </li>
            <li>
                <p>
                    You can watch an example of a 
                    <b class="color-violet">homepage</b> 
                    file :
                </p>
                <a class="button-violet" 
                    href="https://github.com/animadio/animadio.org/blob/master/src/View/front/home.twig"
                    title="Go to the Source Code of Animadio.org Homepage">
                    Homepage Example
                </a>
            </li>
            <li>
                <p>
                    You can find the 
                    <b class="color-violet">Available CSS Classes</b> 
                    in the Animadio Documentation :
                </p>
                <a class="button-violet" 
                    href="{{ url('doc') }}"
                    title="Go to the Documentation">
                    Documentation
                </a>
            </li>
        </ul>
    </section>
</article>
