<article class="menu-target1">
    <h2 class="anima-slideB-this">
        HTML 
        <i class="fab fa-html5 fa-lg color-red"></i>
    </h2>

    <header class="head">
        Animadio is easy to use & very effective !
    </header>

    <i class="fas fa-chevron-down fa-2x mar-top-md"></i>

    <section class="anima-slideR-this">
        <h3 class="color-green">
            <i class="fas fa-seedling fa-lg"></i> Base
        </h3>

        <p></p>
    </section>

    <i class="fas fa-sort fa-2x mar-top-md"></i>

    <section class="anima-slideL-this">
        <h3 class="color-red">
            <i class="fas fa-th fa-lg"></i> Display
        </h3>

        <p></p>
    </section>

    <i class="fas fa-sort fa-2x mar-top-md"></i>

    <section class="anima-slideR-this">
        <h3 class="color-blue">
            <i class="fas fa-sitemap fa-lg"></i> Elements
        </h3>

        <p></p>
    </section>

    <i class="fas fa-sort fa-2x mar-top-md"></i>

    <section class="anima-slideL-this">
        <h3 class="color-orange">
            <i class="far fa-life-ring fa-lg"></i> Helpers
        </h3>

         <table class="table">
            <caption>Helpers Keywords</caption>

            <thead>
                <tr>
                    <th>Keywords</th>
                    <th>Trigger</th>
                    <th>Relay</th>
                    <th>Target</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>&empty;</td>
                    <td>Class</td>
                    <td rowspan="3">&empty;</td>
                    <td>Class</td>
                </tr>
                <tr>
                    <td>global</td>
                    <td>Global class</td>
                    <td>Children of Global class</td>
                </tr>
                <tr>
                    <td>onto</td>
                    <td>Hover|Focus the Onto class</td>
                    <td>Onto class</td>
                </tr>
                <tr>
                    <td>check + hub + goal</td>
                    <td>Check class Checked</td>
                    <td>Hub class</td>
                    <td>Goal class</td>
                </tr>
            </tbody>
        </table>
    </section>

    <i class="fas fa-sort fa-2x mar-top-md"></i>

    <section class="anima-slideR-this">
        <h3 class="color-violet">
            <i class="far fa-images fa-lg"></i> Animations
        </h3>

         <table class="table">
            <caption>Anima Keywords</caption>

            <thead>
                <tr>
                    <th>Keywords</th>
                    <th>Trigger</th>
                    <th>Relay</th>
                    <th>Target</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>this</td>
                    <td>Class</td>
                    <td rowspan="6">&empty;</td>
                    <td>Class</td>
                </tr>
                <tr>
                    <td>global</td>
                    <td>Global class</td>
                    <td>Children of Global class</td>
                </tr>
                <tr>
                    <td>onto</td>
                    <td>Hover|Focus the Onto class</td>
                    <td>Onto class</td>
                </tr>
                <tr>
                    <td>into</td>
                    <td>Hover|Focus the parent of Into class</td>
                    <td>Into class</td>
                </tr>
                <tr>
                    <td>toall</td>
                    <td>Hover|Focus the Toall class</td>
                    <td>Children of Toall class</td>
                </tr>
                <tr>
                    <td>toone</td>
                    <td>Hover|Focus a child of Toone class</td>
                    <td>Child of Toone class</td>
                </tr>
                <tr>
                    <td>check + hub + goal</td>
                    <td>Check class Checked</td>
                    <td>Hub class</td>
                    <td>Goal class</td>
                </tr>
                <tr>
                    <td>radio1 + relay + target1</td>
                    <td>Radio1 class Checked</td>
                    <td rowspan="5">Relay class</td>
                    <td>Target1 class</td>
                </tr>
                <tr>
                    <td>radio2 + relay + target2</td>
                    <td>Radio2 class Checked</td>
                    <td>Target2 class</td>
                </tr>
                <tr>
                    <td>radio3 + relay + target3</td>
                    <td>Radio3 class Checked</td>
                    <td>Target3 class</td>
                </tr>
                <tr>
                    <td>radio4 + relay + target4</td>
                    <td>Radio4 class Checked</td>
                    <td>Target4 class</td>
                </tr>
                <tr>
                    <td>radio5 + relay + target5</td>
                    <td>Radio5 class Checked</td>
                    <td>Target5 class</td>
                </tr>
            </tbody>
        </table>
    </section>
</article>
