<section class="menu-target3">
    <h2>
        <i class="fas fa-infinity"></i>
        Keyframes
    </h2>

    <a class="btn-green btn-lg" href="{{ url('keyframe!create') }}">New Keyframe</a>

    <table class="table">
        <thead>
        <tr>
            <th>Keyframes</th>
            <th>Effect</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</section>
