<article class="menu-target2">
    <h2>Grid</h2>

    <section class="card-violet">
        <figure>
            <i class="fas fa-th fa-7x"></i>
        </figure>
        <h3>Grid Usage</h3>
        <p>To use the Grid feature, you can concatenate each Screen with the desired number of columns after the same Grid keyword.</p>
        <a class="btn" href="https://cdn.jsdelivr.net/npm/animadio@2.4.4/dist/animadio-grid.css" title="Access to Animadio Grid CDN" rel="noreferrer noopener" target="_blank">
            <i class="fas fa-server fa-lg color-white color-blue-into"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/dist/animadio-grid.css" title="View CSS Library @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg color-white color-blue-into"></i>
        </a>
    </section>

    <input id="sidebar-grid-radio1" class="sidebar-radio1" type="radio" name="grid" checked>
    <input id="sidebar-grid-radio2" class="sidebar-radio2" type="radio" name="grid">
    <input id="sidebar-grid-radio3" class="sidebar-radio3" type="radio" name="grid">

    <nav class="sidebar">
        <label class="button-red" for="sidebar-grid-radio1" title="Show Flex Classes">Flex</label>
        <label class="button-red" for="sidebar-grid-radio2" title="Show Grid & Fluid Classes">Grid</label>
        <label class="button-red" for="sidebar-grid-radio3" title="Show Place Classes">Place</label>
    </nav>

    <section class="sidebar-relay">
        <h3>Grid Parts</h3>

        {{ include("front/grid/fluid.twig") }}
        {{ include("front/grid/flex.twig") }}
        {{ include("front/grid/place.twig") }}
    </section>
</article>
