<article class="menu-target2">
    <h2 class="anima-slideB-this">
        <i class="fas fa-network-wired fa-lg"></i> 
        CDN
    </h2>

    <header class="head">
        <a href="https://www.jsdelivr.com/package/npm/animadio" 
            title="Go to Animadio CDN Page !">
            <img src="https://img.shields.io/jsdelivr/npm/hm/animadio.svg?label=JSDelivr+Downloads" 
                alt="JSDelivr Montly Download of Animadio">
        </a>
        <br>
        Animadio is available through CDN !
    </header>

    <i class="fas fa-chevron-down fa-2x mar-top-md"></i>

    <section class="anima-slideR-this">
        <h3>
            <i class="fas fa-code fa-lg"></i> 
            Development
        </h3>

        <p>
            During Development phase, 
            <br>
            add this 
            <b class="color-red">&lt;link&gt;</b> 
            tag inside your HTML 
            <b class="color-red">&lt;head&gt;</b> 
            tag :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span> <span 
            class="color-orange font-italic">href</span><span 
            class="color-grey">=</span>"https://cdn.jsdelivr.net/npm/animadio@4.1.2/dist/animadio.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>

        <p>
            For JavaScript Features 
            <em class="color-green">(Slider & Canvas only)</em>, 
            <br>
            add this 
            <b class="color-red">&lt;script&gt;</b> 
            tag at the end of your HTML 
            <b class="color-red">&lt;body&gt;</b> 
            tag :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">script</span><span 
            class="color-orange font-italic"> src</span><span 
            class="color-grey">=</span>"https://cdn.jsdelivr.net/npm/animadio@4.1.2/dist/animadio.js"<span 
            class="color-grey">&gt&lt;</span><span 
            class="color-red">script</span><span 
            class="color-grey">&gt;</span></code>
    </section>

    <i class="fas fa-sort fa-2x mar-top-lg"></i>

    <section class="anima-slideL-this">
        <h3>
            <i class="fas fa-globe fa-lg"></i> 
            Production
        </h3>

        <p>
            Then in Production, 
            <br>
            replace the 
            <b class="color-red">&lt;link&gt;</b> 
            tag by this one :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span><span 
            class="color-orange font-italic"> href</span><span 
            class="color-grey">=</span>"https://cdn.jsdelivr.net/npm/animadio@4.1.2/dist/animadio.min.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>

        <p>
            And for JavaScript Features 
            <em class="color-green">(Slider & Canvas only)</em>, 
            <br>
            replace the 
            <b class="color-red">&lt;script&gt;</b> 
            tag by this one :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">script</span><span 
            class="color-orange font-italic"> src</span><span 
            class="color-grey">=</span>"https://cdn.jsdelivr.net/npm/animadio@4.1.2/dist/animadio.min.js"<span 
            class="color-grey">&gt&lt;</span><span 
            class="color-red">script</span><span 
            class="color-grey">&gt;</span></code>
    </section>
</article>
