<article class="menu-target3">
    <h2 class="anima-slideB-this">
        <i class="fas fa-download fa-lg"></i> 
        Download
    </h2>

    <header class="head">
        You can download the files from Git Clone, 
        GitHub Release or GitHub Archive
    </header>

    <i class="fas fa-chevron-down fa-2x mar-top-md"></i>

    <section class="anima-slideR-this">
        <h3 class="color-red">
            <i class="fab fa-git-alt fa-lg"></i> 
            Git Clone
        </h3>

        <p>
            To clone the project with 
            <strong class="color-red">Git</strong>, 
            run the terminal to type :</p>

        <code>$ git clone https://github.com/animadio/animadio.git</code>
    </section>

    <i class="fas fa-sort fa-2x mar-top-lg"></i>

    <section class="anima-slideL-this">
        <h3 class="color-gh">
            <i class="fab fa-github fa-lg"></i> 
            GitHub Release
        </h3>

        <p>
            To download the last release, go to the 
            <strong class="color-gh">GitHub Release</strong> 
            page of Animadio :</p>

        <a class="button-gh" 
            href="https://github.com/animadio/animadio/releases" 
            title="Clic to Go to the Animadio Release Page">
            <i class="fab fa-github-alt fa-2x"></i> 
            Release Page
        </a>
    </section>

    <i class="fas fa-sort fa-2x mar-top-lg"></i>

    <section class="anima-slideR-this">
        <h3 class="color-gh">
            <i class="fab fa-github-square fa-lg"></i> 
            GitHub Archive
        </h3>

        <p>
            You can either download the Animadio master of 
            <strong class="color-gh">GitHub Archive</strong>   
            here :</p>

        <a class="button-gh" 
            href="https://github.com/animadio/animadio/archive/master.zip" 
            title="Clic to Download Animadio">
            <i class="fas fa-file-archive fa-2x"></i> 
            Master Zip
        </a>
    </section>

    <i class="fas fa-chevron-down fa-2x mar-top-lg"></i>

    <section class="anima-slideL-this">
        <h3>
            <i class="fas fa-code fa-lg"></i> 
            Development
        </h3>

        <p>
            During Development phase, 
            <br>
            add this 
            <b class="color-red">&lt;link&gt;</b> 
            tag inside your HTML 
            <b class="color-red">&lt;head&gt;</b> 
            tag :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span><span 
            class="color-orange font-italic"> href</span><span 
            class="color-grey">=</span>"css/animadio.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>

        <p>
            For JavaScript Features 
            <em class="color-green">(Slider & Canvas only)</em>, 
            <br>
            add this 
            <b class="color-red">&lt;script&gt;</b> 
            tag at the end of your HTML 
            <b class="color-red">&lt;body&gt;</b> 
            tag :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">script</span><span 
            class="color-orange font-italic"> src</span><span 
            class="color-grey">=</span>"js/animadio.js"<span 
            class="color-grey">&gt&lt;</span><span 
            class="color-red">script</span><span 
            class="color-grey">&gt;</span></code>
    </section>

    <i class="fas fa-sort fa-2x mar-top-lg"></i>

    <section class="anima-slideR-this">
        <h3>
            <i class="fas fa-globe fa-lg"></i> 
            Production
        </h3>

        <p>
            Then in Production, 
            <br>
            replace the 
            <b class="color-red">&lt;link&gt;</b> 
            tag by this one :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span><span 
            class="color-orange font-italic"> href</span><span 
            class="color-grey">=</span>"css/animadio.min.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>

        <p>
            And for JavaScript Features 
            <em class="color-green">(Slider & Canvas only)</em>, 
            <br>
            replace the 
            <b class="color-red">&lt;script&gt;</b> 
            tag by this one :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">script</span><span 
            class="color-orange font-italic"> src</span><span 
            class="color-grey">=</span>"js/animadio.min.js"<span 
            class="color-grey">&gt&lt;</span><span 
            class="color-red">script</span><span 
            class="color-grey">&gt;</span></code>
    </section>
</article>
