<article class="menu-target1">
    <h2 class="anima-slideB-this">
        <i class="fas fa-cubes fa-lg color-violet"></i> 
        Package Manager
    </h2>

    <header class="head">
        <a href="https://www.npmjs.com/package/animadio" 
            title="Go to Animadio NPM Package !">
            <img src="https://img.shields.io/npm/dm/animadio.svg?label=NPM+Downloads" 
                alt="NPM Montly Download of Animadio">
        </a>
        <br>
        Animadio is available through NPM & Yarn ! (recommended)
    </header>

    <i class="fas fa-chevron-down fa-2x mar-top-md"></i>

    <section class="anima-slideR-this">
        <h3 class="color-red">
            <i class="fab fa-npm fa-lg"></i> NPM
        </h3>

        <p>
            To get Animadio with 
            <strong class="color-red">NPM</strong>, 
            type in the terminal :
        </p>
        <code>$ npm i animadio</code>
    </section>

    <i class="fas fa-sort fa-2x mar-top-lg"></i>

    <section class="anima-slideL-this">
        <h3 class="color-blue">
            <i class="fab fa-yarn fa-lg"></i> Yarn
        </h3>

        <p>
            If you prefer with  
            <strong class="color-blue">Yarn</strong>, 
            type this :
        </p>
        <code>$ yarn add animadio</code>
    </section>

    <i class="fas fa-chevron-down fa-2x mar-top-lg"></i>

    <section class="anima-slideR-this">
        <h3>
            <i class="fas fa-code fa-lg"></i> 
            Development
        </h3>

        <p>
            During Development phase, 
            <br>
            add this 
            <b class="color-red">&lt;link&gt;</b> 
            tag inside your HTML 
            <b class="color-red">&lt;head&gt;</b> 
            tag :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span><span 
            class="color-orange font-italic"> href</span><span 
            class="color-grey">=</span>"node_modules/animadio/dist/animadio.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>

        <p>
            For JavaScript Features 
            <em class="color-green">(Slider & Canvas only)</em>, 
            <br>
            add this 
            <b class="color-red">&lt;script&gt;</b> 
            tag at the end of your HTML 
            <b class="color-red">&lt;body&gt;</b> 
            tag :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">script</span><span 
            class="color-orange font-italic"> src</span><span 
            class="color-grey">=</span>"node_modules/animadio/dist/animadio.js"<span 
            class="color-grey">&gt&lt;</span><span 
            class="color-red">script</span><span 
            class="color-grey">&gt;</span></code>
    </section>

    <i class="fas fa-sort fa-2x mar-top-lg"></i>

    <section class="anima-slideL-this">
        <h3>
            <i class="fas fa-globe fa-lg"></i> 
            Production
        </h3>

        <p>
            Then in Production, 
            <br>
            replace the 
            <b class="color-red">&lt;link&gt;</b> 
            tag by this one :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span><span 
            class="color-orange font-italic"> href</span><span 
            class="color-grey">=</span>"node_modules/animadio/dist/animadio.min.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>

        <p>
            And for JavaScript Features 
            <em class="color-green">(Slider & Canvas only)</em>, 
            <br>
            replace the 
            <b class="color-red">&lt;script&gt;</b> 
            tag by this one :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">script</span><span 
            class="color-orange font-italic"> src</span><span 
            class="color-grey">=</span>"node_modules/animadio/dist/animadio.min.js"<span 
            class="color-grey">&gt&lt;</span><span 
            class="color-red">script</span><span 
            class="color-grey">&gt;</span></code>
    </section>
</article>
