<article class="menu-target2">
    <h4>Canvas</h4>

    <section class="card-maroon">
        <h5>Canvas</h5>
        <p>Canvas class is made to provide a paint board (or a sign board), by using JavaScript through Animadio.js !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/events/variables/_canvas.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/events/classes/_canvas.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio.js/blob/master/src/Canvas.js" title="View JS Class Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-js fa-lg color-white color-orange-into" aria-hidden="true"></i>
        </a>
    </section>

    <section class="canvas">
        <h5>Canvas Example</h5>

        <canvas id="canvas"></canvas>
        <ul class="canvas-controls">
            <li>
                <label for="canvas-line" title="Choose Thickness">
                    <i class="fas fa-paint-brush fa-lg"></i>
                </label>
                <input id="canvas-line" type="range" name="canvas-line" min="1" max="10" step="1" value="2" title="Choose Thickness">
            </li>
            <li>
                <label for="canvas-color" title="Choose Color">
                    <i class="fas fa-palette fa-lg"></i>
                </label>
                <input id="canvas-color" type="color" value="#000080" name="canvas-color" title="Choose Color">
            </li>
            <li>
                <button class="btn-green btn-lg" type="button" id="canvas-cleaner" title="Erase Canvas">
                    <i class="fas fa-eraser fa-lg"></i>
                </button>
            </li>
        </ul>
    </section>
</article>
