<article class="sidebar-target4">
    <h4>Foot</h4>

    <section class="card-green">
        <h5>Foot Infos</h5>
        <p>You can use Foot class to get a footer skeleton !</p>
        <a class="btn" href="https://codepen.io/animadio/pen/YgLwbe" title="View HTML Example @CodePen" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-html5 fa-lg color-white color-blue-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/variables/_foot.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/classes/_foot.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
    </section>
</article>
