<article class="sidebar-target5">
    <h4>Form</h4>

    <section class="card-green">
        <h5>Form Infos</h5>
        <p>You can use Form class to get forms & fields !</p>
        <a class="btn" href="https://codepen.io/animadio/pen/EMLPzN" title="View HTML Example @CodePen" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-html5 fa-lg color-white color-blue-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/variables/_form.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/classes/_form.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
    </section>

    <section>
        <h5>Form Example</h5>

        <form class="form">
            <fieldset>
                <legend>Form Legend</legend>
                <ul>
                    <li>
                        <label for="text">Text Field</label>
                        <input id="text" type="text" placeholder="This is a text">
                    </li>
                    <li>
                        <label for="number">Number Field</label>
                        <input id="number" type="number" placeholder="0123456789">
                    </li>
                    <li>
                        <label for="date">Date Field</label>
                        <input id="date" type="date">
                    </li>
                    <li>
                        <label for="file">File Field</label>
                        <input id="file" type="file">
                    </li>
                    <li>
                        <label for="email">Email Field</label>
                        <input id="email" type="email" placeholder="me@domain.mail">
                    </li>
                    <li>
                        <label for="tel">Tel Field</label>
                        <input id="tel" type="tel" placeholder="123-456-789">
                    </li>
                    <li>
                        <label for="password">Password Field</label>
                        <input id="password" type="password" placeholder="********">
                    </li>
                    <li>
                        <label for="big-text">Big Text Field</label>
                        <textarea id="big-text" placeholder="This is a big text !"></textarea>
                    </li>
                </ul>
                <ul>
                    <li>
                        <input type="reset" value="Cancel">
                        <input type="submit" value="Send">
                    </li>
                </ul>
            </fieldset>
        </form>
    </section>
</article>
