<article class="sidebar-target6">
    <h4>Gallery</h4>

    <section class="card-green">
        <h5>Gallery Infos</h5>
        <p>You can use Gallery class to show pictures or videos !</p>
        <a class="btn" href="https://codepen.io/animadio/pen/NJMxmm" title="View HTML Example @CodePen" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-html5 fa-lg color-white color-blue-into"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/variables/_gallery.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/classes/_gallery.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into"></i>
        </a>
    </section>

    <section>
        <h5>Gallery Example</h5>

        <figure class="gallery">
            <figure>
                <img src="https://animadio.org/img/data/numbers/1.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h6>Your 1st title</h6>
                        <p>Your 1st description</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="https://animadio.org/img/data/numbers/2.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h4>Your 2nd title</h4>
                        <p>Your 2nd description</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="https://animadio.org/img/data/numbers/3.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h4>Your 3rd title</h4>
                        <p>Your 3rd description</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="https://animadio.org/img/data/numbers/4.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h4>Your 4th title</h4>
                        <p>Your 4th description</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="https://animadio.org/img/data/numbers/5.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h4>Your 5th title</h4>
                        <p>Your 5th description</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="https://animadio.org/img/data/numbers/6.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h4>Your 6th title</h4>
                        <p>Your 6th description</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="https://animadio.org/img/data/numbers/7.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h4>Your 7th title</h4>
                        <p>Your 7th description</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="https://animadio.org/img/data/numbers/8.png" alt="Your awesome alternate text">
                <figcaption>
                    <a href="https://animadio.org" title="Your awesome title">
                        <h4>Your 8th title</h4>
                        <p>Your 8th description</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>
        </figure>
    </section>
</article>
