<article class="sidebar-target8">
    <h4>Navbar</h4>

    <section class="card-green">
        <h5>Navbar Infos</h5>
        <p>You can use Navbar class to get a customizable responsive navigation !</p>
        <a class="btn" href="https://codepen.io/animadio/pen/rRvxRe" title="View HTML Example @CodePen" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-html5 fa-lg color-white color-blue-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/variables/_navbar.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/classes/_navbar.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
    </section>

    <section>
        <h5>Navbar Details</h5>

        <p>You can see 2 examples of Navbar up there & you can watch another with all the HTML code here on CodePen :</p>
        <a class="btn-black" href="https://codepen.io/animadio/pen/rRvxRe" title="Watch Navbar Example on CodePen" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-codepen fa-lg" aria-hidden="true"></i>
            Navbar HTML
        </a>

        <p>There's no color classes for navbar because it's very easy to change any color you want with the custom properties...</p>
        <p>Same thing for fixed position or other properties (you can test to change every thing on CodePen directly)...</p>

        <p>The Navbar open-source code is available here :</p>
        <a class="btn-github" href="https://github.com/animadio/animadio/blob/master/src/elements/navbar.css" title="Watch the code on Github" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-github fa-lg" aria-hidden="true"></i>
            Navbar CSS
        </a>
    </section>
</article>
