<article class="menu-target1">
    <h4>Slider</h4>

    <section class="card-maroon">
        <h5>Slider</h5>
        <p>Slider class is made to provide a dynamic slider, by using JavaScript through Animadio.js !</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/events/variables/_slider.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/events/classes/_slider.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio.js/blob/master/src/Slider.js" title="View JS Class Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-js fa-lg color-white color-orange-into" aria-hidden="true"></i>
        </a>
    </section>

    <section>
        <h5>Slider Example</h5>

        <header id="slider" class="slider">

            <!-- Slider Hidden Triggers -->
            <input id="slider-radio1" class="slider-radio1" type="radio" name="slider" disabled checked>
            <input id="slider-radio2" class="slider-radio2" type="radio" name="slider" disabled>
            <input id="slider-radio3" class="slider-radio3" type="radio" name="slider" disabled>
            <input id="slider-radio4" class="slider-radio4" type="radio" name="slider" disabled>
            <input id="slider-radio5" class="slider-radio5" type="radio" name="slider" disabled>
            <input id="slider-radio6" class="slider-radio6" type="radio" name="slider" disabled>
            <input id="slider-radio7" class="slider-radio7" type="radio" name="slider" disabled>
            <input id="slider-radio8" class="slider-radio8" type="radio" name="slider" disabled>
            <input id="slider-radio9" class="slider-radio9" type="radio" name="slider" disabled>

            <!-- Slider Pictures -->
            <figure id="slider-relay" class="slider-relay">
                <figure class="slider-target1">
                    <a href="https://doc.animadio.org" title="Watch the Documentation">
                        <img src="img/animadio.png" alt="Animadio">
                    </a>
                    <figcaption>Welcome to Animadio !</figcaption>
                </figure>
                <figure class="slider-target2">
                    <a href="https://codepen.io/animadio/pen/rRvxRe" rel="noreferrer noopener" target="_blank" title="Watch the Navbar Pen">
                        <img src="img/pens/cp-navbar.png" alt="Navbar Example @CodePen">
                    </a>
                    <figcaption>Responsive Navbar</figcaption>
                </figure>
                <figure class="slider-target3">
                    <a href="https://codepen.io/animadio/pen/KKPmGvE" rel="noreferrer noopener" target="_blank" title="Watch the Card Pen">
                        <img src="img/pens/cp-card.png" alt="Card Example @CodePen">
                    </a>
                    <figcaption>Design Card</figcaption>
                </figure>
                <figure class="slider-target4">
                    <a href="https://codepen.io/animadio/pen/LamGvj" rel="noreferrer noopener" target="_blank" title="Watch the Btn Pen">
                        <img src="img/pens/cp-btn.png" alt="Btn Example @CodePen">
                    </a>
                    <figcaption>Many Buttons</figcaption>
                </figure>
                <figure class="slider-target5">
                    <a href="https://codepen.io/animadio/pen/rRvxbe" rel="noreferrer noopener" target="_blank" title="Watch the Menu Pen">
                        <img src="img/pens/cp-menu.png" alt="Menu Example @CodePen">
                    </a>
                    <figcaption>Effective Menu</figcaption>
                </figure>
                <figure class="slider-target6">
                    <a href="https://codepen.io/animadio/pen/NJMxmm" rel="noreferrer noopener" target="_blank" title="Watch the Gallery Pen">
                        <img src="img/pens/cp-gallery.png" alt="Gallery Example @CodePen">
                    </a>
                    <figcaption>Awesome Gallery</figcaption>
                </figure>
                <figure class="slider-target7">
                    <a href="https://codepen.io/animadio/pen/EMLPzN" rel="noreferrer noopener" target="_blank" title="Watch the Form Pen">
                        <img src="img/pens/cp-form.png" alt="Form Example @CodePen">
                    </a>
                    <figcaption>Accessible Form</figcaption>
                </figure>
                <figure class="slider-target8">
                    <a href="https://codepen.io/animadio/pen/ZPoQNb" rel="noreferrer noopener" target="_blank" title="Watch the Table Pen">
                        <img src="img/pens/cp-table.png" alt="Table Example @CodePen">
                    </a>
                    <figcaption>Clear Table</figcaption>
                </figure>
                <figure class="slider-target9">
                    <a href="https://codepen.io/animadio/pen/YgLwbe" rel="noreferrer noopener" target="_blank" title="Watch the Foot Pen">
                        <img src="img/pens/cp-foot.png" alt="Foot Example @CodePen">
                    </a>
                    <figcaption>Structured Foot</figcaption>
                </figure>
            </figure>

            <!-- Slider Visual Controls -->
            <ul class="slider-controls">
                <li>
                    <ul>
                        <li>
                            <button id="slider-previous" type="button" title="Previous (&larr;)">
                                <i class="fas fa-step-backward fa-lg" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li>
                            <button id="slider-auto" type="button" title="Pause (&minus;)">
                                <i class="fas fa-pause fa-lg" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li>
                            <button id="slider-random" type="button" title="Random (&darr;)">
                                <i class="fas fa-random fa-lg" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li>
                            <button id="slider-next" type="button" title="Next (&rarr;)">
                                <i class="fas fa-step-forward fa-lg" aria-hidden="true"></i>
                            </button>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <label for="slider-radio1" accesskey="1" title="1st Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio2" accesskey="2" title="2nd Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio3" accesskey="3" title="3rd Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio4" accesskey="4" title="4th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio5" accesskey="5" title="5th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio6" accesskey="6" title="6th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio7" accesskey="7" title="7th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio8" accesskey="8" title="8th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio9" accesskey="9" title="9th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
    </section>
</article>
