<article class="sidebar-target0">
    <h4>Table</h4>

    <section class="card-green">
        <h5>Table Infos</h5>
        <p>You can use the table class to show datas !</p>
        <a class="btn" href="https://codepen.io/animadio/pen/ZPoQNb" title="View HTML Example @CodePen" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-html5 fa-lg color-white color-blue-into"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/variables/_table.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/elements/classes/_table.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into"></i>
        </a>
    </section>

    <section>
        <h5>Table Example</h5>

        <table class="table">
            <caption>Table Caption</caption>

            <thead>
            <tr>
                <th>Sign</th>
                <th>Element</th>
                <th>Vibration</th>
                <th>Polarity</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th>Aries</th>
                <td>Fire</td>
                <td>Cardinal</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Taurus</th>
                <td>Earth</td>
                <td>Fixed</td>
                <td>Female</td>
            </tr>

            <tr>
                <th>Gemini</th>
                <td>Air</td>
                <td>Mutable</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Cancer</th>
                <td>Water</td>
                <td>Cardinal</td>
                <td>Female</td>
            </tr>

            <tr>
                <th>Leo</th>
                <td>Fire</td>
                <td>Fixed</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Virgo</th>
                <td>Earth</td>
                <td>Mutable</td>
                <td>Female</td>
            </tr>

            <tr>
                <th>Libra</th>
                <td>Air</td>
                <td>Cardinal</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Scorpio</th>
                <td>Water</td>
                <td>Fixed</td>
                <td>Female</td>
            </tr>

            <tr>
                <th>Sagittarius</th>
                <td>Fire</td>
                <td>Mutable</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Capricorn</th>
                <td>Earth</td>
                <td>Cardinal</td>
                <td>Female</td>
            </tr>

            <tr>
                <th>Aquarius</th>
                <td>Air</td>
                <td>Fixed</td>
                <td>Male</td>
            </tr>

            <tr>
                <th>Pisces</th>
                <td>Water</td>
                <td>Mutable</td>
                <td>Female</td>
            </tr>
            </tbody>
        </table>
    </section>
</article>
