{% extends 'layout/layout.twig' %}

{% block title %}Create a New Animation{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <form class="form" 
        method="post" 
        action={{ url('animation!create') }}>
        <fieldset>
            <legend>
                <i class="far fa-images fa-2x"></i>
            </legend>
            <ul>
                <li>
                    <label for="name">
                        Name
                    </label>
                    <input id="name" 
                        name="name" 
                        type="text" 
                        maxlength="20" 
                        placeholder="Type the Animation Name"
                        required>
                </li>
                <li>
                    <label for="category_id">
                        Category
                    </label>
                    <select id="category_id" 
                        name="category_id"
                        required>
                        
                        <option value="">
                            -- Select a Category
                        </option>

                    {% for category in categories %}
                        <option value="{{ category.id }}">
                            {{ category.category }}
                        </option>
                    {% endfor %}

                    </select>
                </li>
               <li>
                    <label for="effect">
                        Effect
                    </label>
                    <input id="effect" 
                        name="effect" 
                        type="text" 
                        maxlength="20" 
                        placeholder="Type the Animation Effect"
                        required>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="reset" 
                        value="Reset">
                    <input type="submit" 
                        value="Create">
                </li>
            </ul>
        </fieldset>
    </form>
    <a class="btn-black btn-lg" 
        href="{{ url('admin') }}">
        Quit
    </a>
</main>
{% endblock %}
