{% extends 'layout/layout.twig' %}

{% block title %}Documentation{% endblock %}

{% block description %}Global, Grid, Elements, States & Helpers{% endblock %}

{% block main %}
<main>
    <img src="img/under-construction.jpg" alt="Under Construction Picture">
</main>
{% endblock %}
