<article id="animation-home"
    class="menu-target3">
    <h2>
        <i class="fas fa-images fa-lg"></i>
        Animations
    </h2>

    <header class="head">
        Animadio can create Complex Animations, 
        with the Concatenation of Different Options...
        <br>
        You can find all the Names of the Animations here!
    </header>

    <nav class="sidebar">
        <input id="sidebar-animation"
            class="sidebar-check" 
            type="checkbox">
        <label for="sidebar-animation"
            class="sidebar-open" 
            title="Show Sidebar">
            <i class="far fa-eye fa-lg fa-fw"></i>
        </label>
        <label for="sidebar-animation"
            title="Hide Sidebar">
            <i class="far fa-eye-slash fa-lg fa-fw"></i>
        </label>

        <a href="#animation-translate" 
            title="Translate Animations">
            <i class="fas fa-arrows-alt fa-lg fa-fw"></i>
        </a>
        <a href="#animation-rotate" 
            title="Rotate Animations">
            <i class="fas fa-sync fa-lg fa-fw"></i>
        </a>
        <a href="#animation-scale" 
            title="Scale Animations">
            <i class="fas fa-search-plus fa-lg fa-fw"></i>
        </a>
        <a href="#animation-skew" 
            title="Skew Animations">
            <i class="fas fa-random fa-lg fa-fw"></i>
        </a>

        <a href="#animation-home" 
            title="Animations Home">
            <i class="fas fa-chevron-circle-up fa-lg fa-fw"></i>
        </a>
    </nav>

    <i class="fas fa-chevron-down fa-2x mar-top-md"
        aria-hidden="true">
    </i>

    {% for category, animationCat in animations %}

    <section id="animation-{{ category }}">
        <h3>
            {{ category|title }} Animations
        </h3>

        <table class="table">
            <thead>
            <tr class="bg-primary-dark">
                <th>
                    Name
                </th>
                <th>
                    Producted Effect
                </th>
            </tr>
            </thead>
            <tbody>

                {% for animation in animationCat %} 
                <tr>
                    <td>
                        {{ animation.name }}
                    </td>
                    <td>
                        {{ animation.effect }}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </section>

    {% endfor %}
</article>
