<article class="menu-target4">
    <h2>
        <i class="fa-solid fa-mobile-alt fa-lg"></i>
        Responsive
    </h2>

    <header class="head">
        Breakpoints set the display for differents screen sizes...
        <br>
        And the Mobile First technique is used!
        <br>
        You can find each screen sizes here
    </header>

    <i 
        class="fa-solid fa-chevron-down fa-2x mar-top-md mar-bot-lg"
        aria-hidden="true">
    </i>

    <table class="table">
        <thead>
            <tr class="bg-primary-dark">
                <th>
                    Key
                </th>
                <th>
                    Screen Size
                </th>
            </tr>
        </thead>

        {% for breakpoint in breakpoints %} 
        <tr>
            <td>
                {{ breakpoint.media }}
            </td>
            <td>
                min-width: {{ breakpoint.width }}
            </td>
        </tr>
        {% endfor %}

    </table>
</article>
