{% extends 'layout/layout.twig' %}

{% block title %}Elements{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <header class="head">
        You can find here the 12 Animadio Elements with the HTML code for each !
    </header>

    <section>
        <h2>
            <i class="fas fa-sitemap fa-lg color-violet"></i>
            Available Elements
        </h2>

        <figure class="gallery anima-slideT-global">

            <figure>
                <a href="https://codepen.io/animadio/pen/rRvxRe" 
                    title="See the Navbar HTML Code">
                    <img src="img/elements/navbar.png" 
                        alt="The Navbar example">
                <figcaption>
                    <a href="https://codepen.io/animadio/pen/rRvxRe" 
                        title="See the Navbar HTML Code">
                        <h3>Navbar</h3>
                        <p>The main Navigation Bar</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <a href="https://codepen.io/animadio/pen/BaQgVJe" 
                    title="See the Head HTML Code">
                    <img src="img/elements/head.png" 
                        alt="The Head example">
                </a>
                <figcaption>
                    <a href="https://codepen.io/animadio/pen/BaQgVJe" 
                        title="See the Head HTML Code">
                        <h3>Head</h3>
                        <p>The content Header</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <a href="https://codepen.io/animadio/pen/QoryoX" 
                    title="See the Slider HTML Code">
                    <img src="img/elements/slider.png" 
                        alt="The Slider example">
                </a>
                <figcaption>
                    <a href="https://codepen.io/animadio/pen/QoryoX" 
                        title="See the Slider HTML Code">
                        <h3>Slider</h3>
                        <p>A Slider for medias presentation</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <a href="https://codepen.io/animadio/pen/KKPmGvE" 
                    title="See the Card HTML Code">
                    <img src="img/elements/card.png" 
                        alt="The Card example">
                </a>
                <figcaption>
                    <a href="https://codepen.io/animadio/pen/KKPmGvE" 
                        title="See the Card HTML Code">
                        <h3>Card</h3>
                        <p>Containers for informations & elements</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <a href="https://codepen.io/animadio/pen/LamGvj" 
                    title="See the Btn/Button HTML Code">
                    <img src="img/elements/btn.png" 
                        alt="The Btn/Button examlpes">
                </a>
                <figcaption>
                    <a href="https://codepen.io/animadio/pen/LamGvj" 
                        title="See the Btn/Button HTML Code">
                        <h3>Btn & Button</h3>
                        <p>Buttons for all actions</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <a href="https://codepen.io/animadio/pen/mdOZKpQ" 
                    title="See the Sidebar HTML Code">
                    <img src="img/elements/sidebar.png" 
                        alt="The Sidebar example">
                </a>
                <figcaption>
                   <a href="https://codepen.io/animadio/pen/mdOZKpQ" 
                        title="See the Sidebar HTML Code">
                        <h3>Sidebar</h3>
                        <p>Another Navigation Bar</p>
                        <i class="fas fa-image"></i>
                   </a>
                </figcaption>
            </figure>

            <figure>
                <a href="https://codepen.io/animadio/pen/rRvxbe" 
                    title="See the Menu HTML Code">
                    <img src="img/elements/menu.png" 
                        alt="The Menu example">
                </a>
                <figcaption>
                    <a href="https://codepen.io/animadio/pen/rRvxbe" 
                        title="See the Menu HTML Code">
                        <h3>Menu</h3>
                        <p>A Menu for navigation</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <a href="https://codepen.io/animadio/pen/NJMxmm" 
                    title="See the Gallery HTML Code">
                    <img src="img/elements/gallery.png" 
                        alt="The Gallery example">
                </a>
                <figcaption>
                    <a href="https://codepen.io/animadio/pen/NJMxmm" 
                        title="See the Gallery HTML Code">
                        <h3>Gallery</h3>
                        <p>A Gallery for Visual Medias</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <a href="https://codepen.io/animadio/pen/EMLPzN" 
                    title="See the Form HTML Code">
                    <img src="img/elements/form.png" 
                        alt="The Form example">
                </a>
                <figcaption>
                    <a href="https://codepen.io/animadio/pen/EMLPzN" 
                        title="See the Form HTML Code">
                        <h3>Form</h3>
                        <p>A Form for all user entries</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <a href="https://codepen.io/animadio/pen/LYbKreQ" 
                    title="See the Canvas HTML Code">
                    <img src="img/elements/canvas.png" 
                        alt="The Canvas example">
                </a>
                <figcaption>
                    <a href="https://codepen.io/animadio/pen/LYbKreQ" 
                        title="See the Canvas HTML Code">
                        <h3>Canvas</h3>
                        <p>A Canvas for drawing or signing</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <a href="https://codepen.io/animadio/pen/ZPoQNb" 
                    title="See the Table HTML Code">
                    <img src="img/elements/table.png" 
                        alt="The Table example">
                </a>
                <figcaption>
                    <a href="https://codepen.io/animadio/pen/ZPoQNb" 
                        title="See the Table HTML Code">
                        <h3>Table</h3>
                        <p>A Table to show many informations</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <a href="https://codepen.io/animadio/pen/YgLwbe" 
                    title="See the Foot HTML Code">
                    <img src="img/elements/foot.png" 
                        alt="The Foot example">
                </a>
                <figcaption>
                    <a href="https://codepen.io/animadio/pen/YgLwbe" 
                        title="See the Foot HTML Code">
                        <h3>Foot</h3>
                        <p>The Footer for more links</p>
                        <i class="fas fa-image"></i>
                    </a>
                </figcaption>
            </figure>
        </figure>
    </section>
</main>
{% endblock %}
