{% extends 'layout/layout.twig' %}

{% block title %}Animadio{% endblock %}

{% block description %}
Animadio CSS Framework Website & Documentation - 
Grid & Flexbox Layouts - 
CSS Variables Usage - 
Reusable & Customizable Elements - 
Perform Complex Animations - 
Controls by Radio Buttons
{% endblock %}

{% block script %}
<script src="js/script.js" 
    async 
    defer>
</script>
{% endblock %}

{% block main %}
<main>
    <header class="head">
        Welcome to the Website of the 
        <strong>CSS Framework Animadio</strong>! 
    </header>

    <input id="anima-check" 
        class="button-check" 
        type="checkbox">

    <figure id="anima-hub">
        <img id="anima-goal" 
            src="img/logo.png" 
            alt="Animadio Logo"
            width="400" 
            height="500">
    </figure>

    <label for="anima-check"  
        class="button-violet">
        Animate
    </label>

    <h2>Anima Demo</h2>

    <form class="form">
        <ul>
            <li>
                <label for="name">
                    Animation
                </label>
                <select id="name">
                    <optgroup label="Scale">
                        <option value="anima-bounce">
                            Bounce
                        </option>
                        <option value="anima-grow">
                            Grow
                        </option>
                        <option value="anima-shrink">
                            Shrink
                        </option>
                        <option value="anima-flipperX">
                            FlipperX
                        </option>
                        <option value="anima-flipperY">
                            FlipperY
                        </option>
                        <option value="anima-openX">
                            OpenX
                        </option>
                        <option value="anima-openY">
                            OpenY
                        </option>
                        <option value="anima-flipX">
                            FlipX
                        </option>
                        <option value="anima-flipY">
                            FlipY
                        </option>
                        <option value="anima-fallX">
                            FallX
                        </option>
                        <option value="anima-fallY">
                            FallY
                        </option>
                    </optgroup>

                    <optgroup label="Skew">
                        <option value="anima-twistT">
                            TwistT
                        </option>
                        <option value="anima-twistR">
                            TwistR
                        </option>
                        <option value="anima-twistB">
                            TwistB
                        </option>
                        <option value="anima-twistL">
                            TwistL
                        </option>
                        <option value="anima-torsionT">
                            TorsionT
                        </option>
                        <option value="anima-torsionR">
                            TorsionR
                        </option>
                        <option value="anima-torsionB">
                            TorsionB
                        </option>
                        <option value="anima-torsionL">
                            TorsionL
                        </option>
                    </optgroup>

                    <optgroup label="Rotate">
                        <option value="anima-turn">
                            Turn
                        </option>
                        <option value="anima-turnX">
                            TurnX
                        </option>
                        <option value="anima-turnY">
                            TurnY
                        </option>
                        <option value="anima-turnXY">
                            TurnXY
                        </option>
                        <option value="anima-turnXZ">
                            TurnXZ
                        </option>
                        <option value="anima-turnYZ">
                            TurnYZ
                        </option>
                        <option value="anima-turn3D"
                            selected>
                            Turn3D
                        </option>
                    </optgroup>

                    <optgroup label="Translate">
                        <option value="anima-slideT">
                            SlideT
                        </option>
                        <option value="anima-slideR">
                            SlideR
                        </option>
                        <option value="anima-slideB">
                            SlideB
                        </option>
                        <option value="anima-slideL">
                            SlideL
                        </option>
                        <option value="anima-slideTR">
                            SlideTR
                        </option>
                        <option value="anima-slideBR">
                            SlideBR
                        </option>
                        <option value="anima-slideBT">
                            SlideBL
                        </option>
                        <option value="anima-slideTL">
                            SlideTL
                        </option>
                    </optgroup>
                </select>
            </li>
            <li>
                <label for="function">
                    Timing Function
                </label>
                <select id="function">
                    <option value="" 
                        selected>
                        -
                    </option>
                    <option value="anima-linear">
                        Linear
                    </option>
                    <option value="anima-in">
                        In
                    </option>
                    <option value="anima-out">
                        Out
                    </option>
                    <option value="anima-inout">
                        Inout
                    </option>
                    <option value="anima-bezier">
                        Bezier
                    </option>
                    <option value="anima-start">
                        Start
                    </option>
                    <option value="anima-end">
                        End
                    </option>
                    <option value="anima-chrono">
                        Chrono
                    </option>
                    <option value="anima-timer">
                        Timer
                    </option>
                </select>
            </li>
            <li>
                <label for="count">
                    Iteration Count
                </label>
                <select id="count">
                    <option value=""
                        selected>
                        -
                    </option>
                    <option value="anima-few">
                        Few
                    </option>
                    <option value="anima-many">
                        Many
                    </option>
                    <option value="anima-loop">
                        Infinite
                    </option>
                </select>
            </li>
            <li>
                <label for="direction">
                    Direction
                </label>
                <select id="direction">
                    <option value=""
                        selected>
                        -
                    </option>
                    <option value="anima-alt">
                        Alternate
                    </option>
                    <option value="anima-rev">
                        Reverse
                    </option>
                    <option value="anima-altrev">
                        Alternate-Reverse
                    </option>
                </select>
            </li>
        </ul>
    </form>
</main>
{% endblock %}
