{% extends 'layout/layout.twig' %}

{% block title %}Animadio{% endblock %}

{% block description %}
Animadio CSS Framework Website & Documentation - 
Grid & Flexbox Layouts - 
CSS Variables Usage - 
Reusable & Customizable Elements - 
Perform Complex Animations - 
Controls by Radio Buttons
{% endblock %}

{% block script %}
<script src="js/script.js"></script>
{% endblock %}

{% block main %}
<main>
    <header class="head">
        Welcome to the Official Website of the <strong>CSS Framework Animadio</strong>! 
    </header>

    <figure id="anima-hub">
        <img id="anima-goal" 
            src="img/logo.png" 
            alt="Animadio Logo"
            width="400" 
            height="500">
    </figure>

    <input id="anima-check" 
        class="button-check" 
        type="checkbox">
    <label for="anima-check"  
        class="button-violet">
        Animate
    </label>

    <h2>Animations demonstration</h2>

    <form class="form">
        <ul>
            <li>
                <label for="name">
                    Animation
                </label>
                <select id="name">
                    <optgroup label="Scale">
                        <option value="anima-bounce-this" 
                            selected>
                            Bounce
                        </option>
                        <option value="anima-grow-this">
                            Grow
                        </option>
                        <option value="anima-shrink-this">
                            Shrink
                        </option>
                        <option value="anima-flipperX-this">
                            FlipperX
                        </option>
                        <option value="anima-flipperY-this">
                            FlipperY
                        </option>
                        <option value="anima-openX-this">
                            OpenX
                        </option>
                        <option value="anima-openY-this">
                            OpenY
                        </option>
                        <option value="anima-flipX-this">
                            FlipX
                        </option>
                        <option value="anima-flipY-this">
                            FlipY
                        </option>
                        <option value="anima-fallX-this">
                            FallX
                        </option>
                        <option value="anima-fallY-this">
                            FallY
                        </option>
                    </optgroup>

                    <optgroup label="Skew">
                        <option value="anima-twistT-this">
                            TwistT
                        </option>
                        <option value="anima-twistR-this">
                            TwistR
                        </option>
                        <option value="anima-twistB-this">
                            TwistB
                        </option>
                        <option value="anima-twistL-this">
                            TwistL
                        </option>
                        <option value="anima-torsionT-this">
                            TorsionT
                        </option>
                        <option value="anima-torsionR-this">
                            TorsionR
                        </option>
                        <option value="anima-torsionB-this">
                            TorsionB
                        </option>
                        <option value="anima-torsionL-this">
                            TorsionL
                        </option>
                    </optgroup>

                    <optgroup label="Rotate">
                        <option value="anima-turn-this">
                            Turn
                        </option>
                        <option value="anima-turnX-this">
                            TurnX
                        </option>
                        <option value="anima-turnY-this">
                            TurnY
                        </option>
                        <option value="anima-turnXY-this">
                            TurnXY
                        </option>
                        <option value="anima-turnXZ-this">
                            TurnXZ
                        </option>
                        <option value="anima-turnYZ-this">
                            TurnYZ
                        </option>
                        <option value="anima-turn3D-this">
                            Turn3D
                        </option>
                    </optgroup>

                    <optgroup label="Translate">
                        <option value="anima-slideT-this">
                            SlideT
                        </option>
                        <option value="anima-slideR-this">
                            SlideR
                        </option>
                        <option value="anima-slideB-this">
                            SlideB
                        </option>
                        <option value="anima-slideL-this">
                            SlideL
                        </option>
                        <option value="anima-slideTR-this">
                            SlideTR
                        </option>
                        <option value="anima-slideBR-this">
                            SlideBR
                        </option>
                        <option value="anima-slideBT-this">
                            SlideBL
                        </option>
                        <option value="anima-slideTL-this">
                            SlideTL
                        </option>
                    </optgroup>
                </select>
            </li>
            <li>
                <label for="function">
                    Timing Function
                </label>
                <select id="function">
                    <option value="" 
                        selected>
                        -
                    </option>
                    <option value="anima-linear-this">
                        Linear
                    </option>
                    <option value="anima-in-this">
                        In
                    </option>
                    <option value="anima-out-this">
                        Out
                    </option>
                    <option value="anima-inout-this">
                        Inout
                    </option>
                    <option value="anima-bezier-this">
                        Bezier
                    </option>
                    <option value="anima-start-this">
                        Start
                    </option>
                    <option value="anima-end-this">
                        End
                    </option>
                    <option value="anima-chrono-this">
                        Chrono
                    </option>
                    <option value="anima-timer-this">
                        Timer
                    </option>
                </select>
            </li>
            <li>
                <label for="count">
                    Iteration Count
                </label>
                <select id="count">
                    <option value=""
                        selected>
                        -
                    </option>
                    <option value="anima-few-this">
                        Few
                    </option>
                    <option value="anima-many-this">
                        Many
                    </option>
                    <option value="anima-loop-this">
                        Infinite
                    </option>
                </select>
            </li>
            <li>
                <label for="direction">
                    Direction
                </label>
                <select id="direction">
                    <option value=""
                        selected>
                        -
                    </option>
                    <option value="anima-alt-this">
                        Alternate
                    </option>
                    <option value="anima-rev-this">
                        Reverse
                    </option>
                    <option value="anima-altrev-this">
                        Alternate-Reverse
                    </option>
                </select>
            </li>
        </ul>
    </form>
</main>
{% endblock %}
