{% extends 'layout/layout.twig' %}

{% block subtitle %}Authentication{% endblock %}

{% block summary %}{% endblock %}

{% block script %}
    <script src="js/recaptcha.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
{% endblock %}

{% block main %}
    <main class="align-center">
        <form class="form" action="{{ url('user')}}" method="post">
            <fieldset>
                <ul>
                    <li>
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" placeholder="Insert your email" required>
                    </li>
                    <li>
                        <label for="pass">Password</label>
                        <input id="pass" name="pass" type="password" placeholder="Insert your password" autocomplete="off" required>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div id="recaptcha" class="g-recaptcha container" data-sitekey=""></div>
                    </li>
                    <li>
                        <input type="reset" value="Reset">
                        <input type="submit" value="Login">
                    </li>
                </ul>
            </fieldset>
        </form>
        <a class="btn-black btn-lg" href="{{ url('home') }}">Quit</a>
    </main>
{% endblock %}
