{% extends 'layout/layout.twig' %}

{% block title %}Getting Start{% endblock %}

{% block description %}CDN, Package Manager & Download{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu"
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">
<input id="menu-radio3" 
    class="menu-radio3" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label for="menu-radio1">
        <i class="fas fa-cubes fa-lg fa-fw"></i>
        <span>
            Package
        </span>
    </label>
    <label for="menu-radio2">
        <i class="fas fa-network-wired fa-lg fa-fw"></i>
        <span>
            CDN
        </span>
    </label>
    <label for="menu-radio3">
        <i class="fas fa-download fa-lg fa-fw"></i>
        <span>
            Download
        </span>
    </label>
</nav>

<main class="menu-relay">
    
    {{ include("front/startPackage.twig") }}
    {{ include("front/startCdn.twig") }}
    {{ include("front/startDownload.twig") }}
    
</main>
{% endblock %}
