<article 
    id="download-home"
    class="menu-target3">
    <h2 class="anima-grow-this">
        <i class="fa-solid fa-download fa-lg"></i> 
        Download
    </h2>

    <header class="head">
        You can download the files from Git Clone, 
        GitHub Release or GitHub Archive
    </header>

    <nav class="sidebar">
        <input 
            id="sidebar-download"
            class="sidebar-check" 
            type="checkbox">
        <label 
            for="sidebar-download"
            class="sidebar-open" 
            title="Show Sidebar">
            <i class="fa-regular fa-eye fa-fw"></i>
        </label>
        <label 
            for="sidebar-download"
            title="Hide Sidebar">
            <i class="fa-regular fa-eye-slash fa-fw"></i>
        </label>

        <a 
            href="#download-clone" 
            title="Download Installation with Git Clone">
            <i class="fa-brands fa-git-alt fa-fw"></i>
        </a>
        <a 
            href="#download-release" 
            title="Download Installation with GitHub Release">
            <i class="fa-brands fa-github-alt fa-fw"></i>
        </a>
        <a 
            href="#download-archive" 
            title="Download Installation with GitHub Archive">
            <i class="fa-solid fa-file-archive fa-fw"></i>
        </a>
        <a 
            href="#download-dev" 
            title="Download Integration in Development">
            <i class="fa-solid fa-code fa-fw"></i>
        </a>
        <a 
            href="#download-prod" 
            title="Download Integration in Production">
            <i class="fa-solid fa-globe fa-fw"></i>
        </a>
        
        <a 
            href="#download-home" 
            title="Download Home">
            <i class="fa-solid fa-chevron-circle-up fa-fw"></i>
        </a>
    </nav>

    <i class="fa-solid fa-chevron-down fa-2x mar-top-md"
        aria-hidden="true">
    </i>

    <section id="download-clone">
        <h3 class="color-red">
            <i class="fa-brands fa-git-alt fa-lg"></i> 
            Git Clone
        </h3>

        <p>
            To clone the project with 
            <strong class="color-red">Git</strong>, 
            run the terminal to type :</p>

        <code>$ git clone https://github.com/philippebeck/animadio.git</code>
    </section>

    <i class="fa-solid fa-sort fa-2x mar-top-lg"
        aria-hidden="true">
    </i>

    <section id="download-release">
        <h3 class="color-gh">
            <i class="fa-brands fa-github fa-lg"></i> 
            GitHub Release
        </h3>

        <p>
            To download the last release, go to the 
            <strong class="color-gh">GitHub Release</strong> 
            page of Animadio :</p>

        <a class="button-gh" 
            href="https://github.com/philippebeck/animadio/releases" 
            title="Clic to Go to the Animadio Release Page">
            <i class="fa-brands fa-github-alt fa-2x"></i> 
            Release Page
        </a>
    </section>

    <i class="fa-solid fa-sort fa-2x mar-top-lg"
        aria-hidden="true">
    </i>

    <section id="download-archive">
        <h3 class="color-gh">
            <i class="fa-brands fa-github-square fa-lg"></i> 
            GitHub Archive
        </h3>

        <p>
            You can either download the Animadio master of 
            <strong class="color-gh">GitHub Archive</strong>   
            here :</p>

        <a class="button-gh" 
            href="https://github.com/philippebeck/animadio/archive/master.zip" 
            title="Clic to Download Animadio">
            <i class="fa-solid fa-file-archive fa-2x"></i> 
            Master Zip
        </a>
    </section>

    <i class="fa-solid fa-minus fa-2x mar-top-lg"
        aria-hidden="true">
    </i>

    <section id="download-dev">
        <h3>
            <i class="fa-solid fa-code fa-lg"></i> 
            Development
        </h3>

        <p>
            During Development phase, 
            <br>
            add this 
            <b class="color-red">&lt;link&gt;</b> 
            tag inside your HTML 
            <b class="color-red">&lt;head&gt;</b> 
            tag :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span><span 
            class="color-orange font-italic"> href</span><span 
            class="color-grey">=</span>"css/animadio.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>
    </section>

    <i class="fa-solid fa-sort fa-2x mar-top-lg"
        aria-hidden="true">
    </i>

    <section id="download-prod">
        <h3>
            <i class="fa-solid fa-globe fa-lg"></i> 
            Production
        </h3>

        <p>
            Then in Production, 
            <br>
            replace the 
            <b class="color-red">&lt;link&gt;</b> 
            tag by this one :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span><span 
            class="color-orange font-italic"> href</span><span 
            class="color-grey">=</span>"css/animadio.min.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>
    </section>
</article>
