{% extends 'layout/layout.twig' %}

{% block subtitle %}Getting Start{% endblock %}

{% block summary %}CDN, Package Manager & Download{% endblock %}

{% block main %}
    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu">
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu" checked>
    <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">

    <nav class="menu">
        <label class="button-red" for="menu-radio1">
            <i class="fas fa-network-wired color-red-into"></i>
            <span class="color-red-into">CDN</span>
        </label>
        <label class="button-green" for="menu-radio2">
            <i class="fas fa-cubes color-green-into"></i>
            <span class="color-green-into">Package</span>
        </label>
        <label class="button-blue" for="menu-radio3">
            <i class="fas fa-download color-blue-into"></i>
            <span class="color-blue-into">Download</span>
        </label>
    </nav>

    <a href="https://www.npmjs.com/package/animadio" title="Go to Package !">
        <img src="https://img.shields.io/npm/v/animadio.svg?label=NPM" alt="NPM Badge of Animadio">
    </a>

    <main class="menu-relay">
        <article class="menu-target1">
            <header class="anima-slipB">
                <h2>
                    <i class="fas fa-network-wired fa-lg color-navy"></i> CDN
                </h2>

                <p>Animadio is available through CDN !</p>
            </header>

            <i class="fas fa-chevron-down fa-2x mar-top-md" aria-hidden="true"></i>

            <p>During development, add this tag inside your HTML head tag :</p>
            <code>
                <span class="color-silver">&lt;</span><span class="color-red">link</span>
                <span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/animadio.css"
                <span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span>
            </code>

            <p>And add this tag at the end of your HTML body tag :</p>
            <code>
                <span class="color-silver">&lt;</span><span class="color-red">script</span>
                <span class="color-coral font-italic"> src=</span>"https://cdn.jsdelivr.net/npm/animadio.js@0.1.18/dist/animadio.js"<span class="color-silver">&gt&lt;</span><span class="color-red">script</span><span class="color-silver">&gt;</span>
            </code>

            <p>Then in production, replace the CSS one by this one :</p>
            <code>
                <span class="color-silver">&lt;</span><span class="color-red">link</span>
                <span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/min/animadio.min.css"
                <span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span>
            </code>

            <i class="fas fa-chevron-up fa-2x mar-lg block" aria-hidden="true"></i>

            <p>But if you only need a part of Animadio, you can use one of those files :</p>
            <ul>
                <li>
                    <span class="font-bold color-red">animadio-grid</span>
                    for
                    <span class="color-red">Global & Grid parts</span>
                </li>
                <li>
                    <span class="font-bold color-green">animadio-elements</span>
                    for
                    <span class="color-green">Global & Elements parts</span>
                </li>
                <li>
                    <span class="font-bold color-blue">animadio-states</span>
                    for
                    <span class="color-blue">Global & States parts</span>
                </li>
                <li>
                    <span class="font-bold color-orange">animadio-helpers</span>
                    for
                    <span class="color-orange">Global & Helpers parts</span>
                </li>
            </ul>

            <i class="fas fa-caret-down fa-3x mar-top-md" aria-hidden="true"></i>

            <section class="anima-slipR">
                <h3>
                    <i class="fas fa-th fa-lg color-red"></i> Grid
                </h3>

                <p>Development :</p>
                <code>
                    <span class="color-silver">&lt;</span><span class="color-red">link</span>
                    <span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/animadio-grid.css"
                    <span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span>
                </code>

                <p>Production :</p>
                <code>
                    <span class="color-silver">&lt;</span><span class="color-red">link</span>
                    <span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/min/animadio-grid.min.css"
                    <span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span>
                </code>
            </section>

            <i class="fas fa-sort fa-2x mar-top-lg" aria-hidden="true"></i>

            <section class="anima-slipL">
                <h3>
                    <i class="fas fa-sitemap fa-lg color-green"></i> Elements
                </h3>

                <p>Development :</p>
                <code><span class="color-silver">&lt;</span><span class="color-red">link</span>
                    <span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/animadio-elements.css"
                    <span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span>
                </code>

                <p>Production :</p>
                <code>
                    <span class="color-silver">&lt;</span><span class="color-red">link</span>
                    <span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/min/animadio-elements.min.css"
                    <span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span>
                </code>
            </section>

            <i class="fas fa-sort fa-2x mar-top-lg" aria-hidden="true"></i>

            <section class="anima-slipR">
                <h3>
                    <i class="fas fa-cogs fa-lg color-blue"></i> States
                </h3>

                <p>Development :</p>
                <code>
                    <span class="color-silver">&lt;</span><span class="color-red">link</span>
                    <span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/animadio-states.css"
                    <span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span>
                </code>

                <p>Production :</p>
                <code>
                    <span class="color-silver">&lt;</span><span class="color-red">link</span>
                    <span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/min/animadio-states.min.css"
                    <span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span>
                </code>
            </section>

            <i class="fas fa-sort fa-2x mar-top-lg" aria-hidden="true"></i>

            <section class="anima-slipL">
                <h3>
                    <i class="fas fa-life-ring fa-lg color-orange"></i> Helpers
                </h3>

                <p>Development :</p>
                <code>
                    <span class="color-silver">&lt;</span><span class="color-red">link</span>
                    <span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/animadio-helpers.css"
                    <span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span>
                </code>

                <p>Production :</p>
                <code>
                    <span class="color-silver">&lt;</span><span class="color-red">link</span>
                    <span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/min/animadio-helpers.min.css"
                    <span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span>
                </code>
            </section>
        </article>

        <article class="menu-target2">
            <header class="anima-slipB">
                <h2>
                    <i class="fas fa-cubes fa-lg color-navy"></i> Package Manager
                </h2>

                <p>Animadio is available through NPM & Yarn ! (recommended)</p>
                <p>You just have to type one of those instructions in your terminal</p>
            </header>

            <i class="fas fa-chevron-down fa-2x mar-top-md" aria-hidden="true"></i>

            <section class="anima-slipR">
                <h3>
                    <i class="fab fa-npm fa-lg color-red"></i> NPM
                </h3>

                <p>To get Animadio with NPM, type in the terminal :</p>
                <code>$ npm i animadio</code>
            </section>

            <i class="fas fa-sort fa-2x mar-top-lg" aria-hidden="true"></i>

            <section class="anima-slipL">
                <h3>
                    <i class="fab fa-yarn fa-lg color-sky"></i> Yarn
                </h3>

                <p>To get Animadio with Yarn, type in the terminal :</p>
                <code>$ yarn add animadio</code>
            </section>
        </article>

        <article class="menu-target3">
            <header class="anima-slipB">
                <h2>
                    <i class="fas fa-download fa-lg color-navy"></i> Download
                </h2>

                <p>If you prefer to download the files, you can choose between Git Clone, GitHub Release or GitHub Archive</p>
            </header>

            <i class="fas fa-chevron-down fa-2x mar-top-md" aria-hidden="true"></i>

            <section class="anima-slipR">
                <h3>
                    <i class="fab fa-git-alt fa-lg color-tomato"></i> Git Clone
                </h3>

                <p>To clone the project with Git, run the terminal to type :</p>
                <code>$ git clone https://github.com/animadio/animadio.git</code>
            </section>

            <i class="fas fa-sort fa-2x mar-top-lg" aria-hidden="true"></i>

            <section class="anima-slipL">
                <h3>
                    <i class="fab fa-github fa-lg color-gh"></i> GitHub Release
                </h3>

                <p>To download the last release, go to the GitHub release page of Pam :</p>
                <a class="button-gh" href="https://github.com/animadio/animadio/releases" title="Clic to Go to the Animadio Release Page">
                    <i class="fab fa-github-square fa-2x"></i> Release Page
                </a>
            </section>

            <i class="fas fa-sort fa-2x mar-top-lg" aria-hidden="true"></i>

            <section class="anima-slipR">
                <h3>
                    <i class="fab fa-github-alt fa-lg color-gh"></i> GitHub Archive
                </h3>

                <p>You can either download the Animadio master of GitHub Archive here :</p>
                <a class="button-gh" href="https://github.com/animadio/animadio/archive/master.zip" title="Clic to Download Animadio">
                    <i class="fas fa-file-archive fa-2x"></i> Master Zip
                </a>
            </section>
        </article>
    </main>
{% endblock %}
