<article 
    id="package-home"
    class="menu-target1">
    <h2 class="anima-grow-this">
        <i class="fa-solid fa-cubes fa-lg"></i> 
        Package Manager
    </h2>

    <header class="head">
        <a 
            href="https://www.npmjs.com/package/animadio" 
            title="Go to Animadio NPM Package !">
            <img 
                src="https://img.shields.io/npm/dm/animadio.svg?label=NPM+Downloads" 
                alt="NPM Montly Download of Animadio">
        </a>
        <br>
        Animadio is available through NPM & Yarn ! (recommended)
    </header>

    <nav class="sidebar">
        <input 
            id="sidebar-package"
            class="sidebar-check" 
            type="checkbox">
        <label 
            for="sidebar-package"
            class="sidebar-open" 
            title="Show Sidebar">
            <i class="fa-regular fa-eye fa-fw"></i>
        </label>
        <label 
            for="sidebar-package"
            title="Hide Sidebar">
            <i class="fa-regular fa-eye-slash fa-fw"></i>
        </label>

        <a 
            href="#package-npm" 
            title="Package Installation with NPM">
            <i class="fa-brands fa-npm fa-fw"></i>
        </a>
        <a 
            href="#package-yarn" 
            title="Package Installation with Yarn">
            <i class="fa-brands fa-yarn fa-fw"></i>
        </a>
        <a 
            href="#package-dev" 
            title="Package Integration in Development">
            <i class="fa-solid fa-code fa-fw"></i>
        </a>
        <a 
            href="#package-prod" 
            title="Package Integration in Production">
            <i class="fa-solid fa-globe fa-fw"></i>
        </a>
        
        <a 
            href="#package-home" 
            title="Package Manager Home">
            <i class="fa-solid fa-chevron-circle-up fa-fw"></i>
        </a>
    </nav>

    <i class="fa-solid fa-chevron-down fa-2x mar-top-md"
        aria-hidden="true">
    </i>

    <section id="package-npm">
        <h3 class="color-red">
            <i class="fa-brands fa-npm fa-lg"></i> 
            NPM
        </h3>

        <p>
            To get Animadio with 
            <strong class="color-red">NPM</strong>, 
            type in the terminal :
        </p>
        <code>$ npm i animadio</code>
    </section>

    <i 
        class="fa-solid fa-sort fa-2x mar-top-lg"
        aria-hidden="true">
    </i>

    <section id="package-yarn">
        <h3 class="color-blue">
            <i class="fa-brands fa-yarn fa-lg"></i> 
            Yarn
        </h3>

        <p>
            If you prefer with  
            <strong class="color-blue">Yarn</strong>, 
            type this :
        </p>
        <code>$ yarn add animadio</code>
    </section>

    <i 
        class="fa-solid fa-minus fa-2x mar-top-lg"
        aria-hidden="true">
    </i>

    <section id="package-dev">
        <h3>
            <i class="fa-solid fa-code fa-lg"></i> 
            Development
        </h3>

        <p>
            During Development phase, 
            <br>
            add this 
            <b class="color-red">&lt;link&gt;</b> 
            tag inside your HTML 
            <b class="color-red">&lt;head&gt;</b> 
            tag :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span><span 
            class="color-orange font-italic"> href</span><span 
            class="color-grey">=</span>"node_modules/animadio/dist/animadio.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>
    </section>

    <i 
        class="fa-solid fa-sort fa-2x mar-top-lg"
        aria-hidden="true">
    </i>

    <section id="package-prod">
        <h3>
            <i class="fa-solid fa-globe fa-lg"></i> 
            Production
        </h3>

        <p>
            Then in Production, 
            <br>
            replace the 
            <b class="color-red">&lt;link&gt;</b> 
            tag by this one :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span><span 
            class="color-orange font-italic"> href</span><span 
            class="color-grey">=</span>"node_modules/animadio/dist/animadio.min.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>
    </section>
</article>
