{% extends 'layout/layout.twig' %}

{% block title %}Getting Start{% endblock %}

{% block description %}CDN, Package Manager & Download{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu"
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">
<input id="menu-radio3" 
    class="menu-radio3" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label class="button-violet" 
        for="menu-radio1">
        <i class="fas fa-cubes onto-color-violet"></i>
        <span class="onto-color-violet">
            Package
        </span>
    </label>
    <label class="button-violet" 
        for="menu-radio2">
        <i class="fas fa-network-wired onto-color-violet"></i>
        <span class="onto-color-violet">
            CDN
        </span>
    </label>
    <label class="button-violet" 
        for="menu-radio3">
        <i class="fas fa-download onto-color-violet"></i>
        <span class="onto-color-violet">
            Download
        </span>
    </label>
</nav>

<main class="menu-relay">
    
    {{ include("front/start/package.twig") }}
    {{ include("front/start/cdn.twig") }}
    {{ include("front/start/download.twig") }}
    
</main>
{% endblock %}
