<article 
    id="cdn-home"
    class="menu-target2">
    <h2 class="anima-grow-this">
        <i class="fa-solid fa-network-wired fa-lg"></i> 
        CDN
    </h2>

    <header class="head">
        <a 
            href="https://www.jsdelivr.com/package/npm/animadio" 
            title="Go to Animadio CDN Page !">
            <img 
                src="https://img.shields.io/jsdelivr/npm/hm/animadio.svg?label=JSDelivr+Downloads" 
                alt="JSDelivr Montly Download of Animadio">
        </a>
        <br>
        Animadio is available through CDN !
    </header>

    <nav class="sidebar">
        <input 
            id="sidebar-cdn"
            class="sidebar-check" 
            type="checkbox">
        <label 
            for="sidebar-cdn"
            class="sidebar-open" 
            title="Show Sidebar">
            <i class="fa-regular fa-eye fa-fw"></i>
        </label>
        <label 
            for="sidebar-cdn"
            title="Hide Sidebar">
            <i class="fa-regular fa-eye-slash fa-fw"></i>
        </label>

        <a 
            href="#cdn-dev" 
            title="CDN Integration in Development">
            <i class="fa-solid fa-code fa-fw"></i>
        </a>
        <a 
            href="#cdn-prod" 
            title="CDN Integration in Production">
            <i class="fa-solid fa-globe fa-fw"></i>
        </a>

        <a
            href="#cdn-home" 
            title="CDN Home">
            <i class="fa-solid fa-chevron-circle-up fa-fw"></i>
        </a>
    </nav>

    <i class="fa-solid fa-chevron-down fa-2x mar-top-md"
        aria-hidden="true">
    </i>

    <section id="cdn-dev">
        <h3>
            <i class="fa-solid fa-code fa-lg"></i> 
            Development
        </h3>

        <p>
            During Development phase, 
            <br>
            add this 
            <b class="color-red">&lt;link&gt;</b> 
            tag inside your HTML 
            <b class="color-red">&lt;head&gt;</b> 
            tag :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span> <span 
            class="color-orange font-italic">href</span><span 
            class="color-grey">=</span>"https://cdn.jsdelivr.net/npm/animadio@5.0.3/dist/animadio.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>
    </section>

    <i class="fa-solid fa-sort fa-2x mar-top-lg"
        aria-hidden="true">
    </i>

    <section id="cdn-prod">
        <h3>
            <i class="fa-solid fa-globe fa-lg"></i> 
            Production
        </h3>

        <p>
            Then in Production, 
            <br>
            replace the 
            <b class="color-red">&lt;link&gt;</b> 
            tag by this one :
        </p>
        <code><span 
            class="color-grey">&lt;</span><span 
            class="color-red">link</span><span 
            class="color-orange font-italic"> href</span><span 
            class="color-grey">=</span>"https://cdn.jsdelivr.net/npm/animadio@5.0.3/dist/animadio.min.css"<span 
            class="color-orange font-italic"> rel</span><span 
            class="color-grey">=</span>"stylesheet"<span 
            class="color-grey">&gt;</span></code>
    </section>
</article>
