{% extends 'layout/layout.twig' %}

{% block subtitle %}Getting Start{% endblock %}

{% block summary %}{% endblock %}

{% block main %}
    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu">
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu" checked>
    <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">

    <nav class="menu">
        <label class="button-red" for="menu-radio1">
            <i class="fas fa-network-wired color-red-into"></i>
            <span class="color-red-into">CDN</span>

        </label>
        <label class="button-green" for="menu-radio2">
            <i class="fab fa-npm color-green-into"></i>
            <span class="color-green-into">Package Manager</span>
        </label>
        <label class="button-blue" for="menu-radio3">
            <i class="fas fa-download color-blue-into"></i>
            <span class="color-blue-into">Download</span>
        </label>
    </nav>

    <main class="menu-relay">
        <section class="menu-target1">
            <h4>CDN</h4>

            <p>During development, add this tag to your HTML :</p>
            <pre><span class="color-silver">&lt;</span><span class="color-red">link</span><span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/animadio.css"<span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span></pre>
            <pre><span class="color-silver">&lt;</span><span class="color-red">script</span><span class="color-coral font-italic"> src=</span>"https://cdn.jsdelivr.net/npm/animadio.js@0.1.18/dist/animadio.js"<span class="color-silver">&gt;</span><span class="color-silver">&lt;</span><span class="color-red">script</span><span class="color-silver">&gt;</span></pre>

            <p>Then in production, add this one :</p>
            <pre><span class="color-silver">&lt;</span><span class="color-red">link</span><span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/min/animadio.min.css"<span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span></pre>

            <p>But if you only need a part of Animadio, you can use one of those files :</p>
            <ul>
                <li><span class="font-bold color-red deco-under">animadio-grid</span> for <span class="color-red">Global & Grid parts</span></li>
                <li><span class="font-bold color-green deco-under">animadio-elements</span> for <span class="color-green">Global & Elements parts</span></li>
                <li><span class="font-bold color-blue deco-under">animadio-states</span> for <span class="color-blue">Global & States parts</span></li>
                <li><span class="font-bold color-orange deco-under">animadio-helpers</span> for <span class="color-gray">Global & Helpers parts</span></li>
            </ul>

            <ul>
                <li class="color-red">
                    <h5 class="color-red-deco-double">Animadio-Grid</h5>

                    <p>Development :</p>
                    <pre><span class="color-silver">&lt;</span><span class="color-red">link</span><span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/animadio-grid.css"<span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span></pre>

                    <p>Production :</p>
                    <pre><span class="color-silver">&lt;</span><span class="color-red">link</span><span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/min/animadio-grid.min.css"<span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span></pre>
                </li>

                <li class="color-green">
                    <h5 class="color-green-deco-double">Animadio-Elements</h5>

                    <p>Development :</p>
                    <pre><span class="color-silver">&lt;</span><span class="color-red">link</span><span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/animadio-elements.css"<span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span></pre>

                    <p>Production :</p>
                    <pre><span class="color-silver">&lt;</span><span class="color-red">link</span><span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/min/animadio-elements.min.css"<span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span></pre>
                </li>

                <li class="color-blue">
                    <h5 class="color-blue-deco-double">Animadio-States</h5>

                    <p>Development :</p>
                    <pre><span class="color-silver">&lt;</span><span class="color-red">link</span><span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/animadio-states.css"<span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span></pre>

                    <p>Production :</p>
                    <pre><span class="color-silver">&lt;</span><span class="color-red">link</span><span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/min/animadio-states.min.css"<span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span></pre>
                </li>

                <li class="color-orange">
                    <h5 class="color-blue-deco-double">Animadio-Helpers</h5>

                    <p>Development :</p>
                    <pre><span class="color-silver">&lt;</span><span class="color-red">link</span><span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/animadio-helpers.css"<span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span></pre>

                    <p>Production :</p>
                    <pre><span class="color-silver">&lt;</span><span class="color-red">link</span><span class="color-coral font-italic"> href=</span>"https://cdn.jsdelivr.net/npm/animadio@3.0.0/dist/min/animadio-helpers.min.css"<span class="color-coral font-italic"> rel=</span>"stylesheet"<span class="color-silver">&gt;</span></pre>
                </li>
            </ul>
        </section>

        <section class="menu-target2">
            <h4>Package Manager</h4>
            <p>Animadio is available through NPM & Yarn !</p>

            <ul>
                <li>
                    <h5>NPM</h5>
                    <pre>$ npm i animadio</pre>
                </li>
                <li>
                    <h5>Yarn</h5>
                    <pre>$ yarn add animadio</pre>
                </li>
            </ul>
        </section>

        <section class="menu-target3">
            <h4>Download</h4>
            <p>If you prefer to download the files, you can choose between release or repository.</p>

            <ul>
                <li>
                    <h5>Release</h5>
                    <a class="btn-github" href="https://github.com/animadio/animadio/releases" rel="noreferrer noopener" target="_blank">
                        <i class="fab fa-github-alt fa-4x" aria-hidden="true"></i>
                        <strong>Get the Latest Release !</strong>
                    </a>
                </li>
                <li>
                    <h5>Repository</h5>
                    <pre>$ git clone https://github.com/animadio/animadio.git</pre>
                </li>
            </ul>
        </section>
    </main>
{% endblock %}
