{% extends 'layout/layout.twig' %}

{% block subtitle %}Templates{% endblock %}

{% block summary %}{% endblock %}

{% block main %}
    <a href="https://www.npmjs.com/package/animadio" title="Go to Package !">
        <img src="https://img.shields.io/npm/v/animadio.svg?label=NPM" alt="NPM Badge of Animadio">
    </a>

    <main>
        <section class="card-blue anima-grow">
            <h3>Porfolio</h3>

            <figure>
                <img src="img/template/portfolio-mini.png" alt="Portfolio template thumbnail">
            </figure>

            <p>This is the Animadio Portfolio Template working with CSS Only : written by <a href="https://valentin-antoin.fr" title="Watch Valentin Website !"><strong class="deco-under deco-double">Valentin Antoin</strong></a></p>

            <a class="btn-blue" href="https://portfolio.animadio.org" title="Watch the Portfolio Template in Action !">
                <i class="fas fa-globe-europe fa-lg"></i>
            </a>
            <a class="btn-blue" href="https://www.npmjs.com/package/animadio-portfolio" title="Watch the Portfolio Template @NPM !">
                <i class="fab fa-npm fa-lg"></i>
            </a>
            <a class="btn-blue" href="https://github.com/animadio/animadio-portfolio" title="Watch the Portfolio Template @GitHub !">
                <i class="fab fa-github-alt fa-lg"></i>
            </a>
            <a class="btn-blue" href="https://codepen.io/animadio/pen/PoYKxBx" title="Watch the Portfolio Template @CodePen !">
                <i class="fab fa-codepen fa-lg"></i>
            </a>
        </section>
    </main>
{% endblock %}
