{% extends 'layout/layout.twig' %}

{% block title %}Theme{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <img src="img/under-construction.jpg" alt="Under Construction Picture">
</main>
{% endblock %}
