{% extends 'layout/layout.twig' %}

{% block title %}Usage{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<input 
    id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu"
    checked>
<input 
    id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label for="menu-radio1">
        <i class="fa-brands fa-html5 fa-lg fa-fw"></i>
        <span>
            HTML
        </span>
    </label>
    <label for="menu-radio2">
        <i class="fa-brands fa-css3-alt fa-lg fa-fw"></i>
        <span>
            CSS
        </span>
    </label>
</nav>

<main class="menu-relay">
    
    {{ include("front/usageHtml.twig") }}
    {{ include("front/usageCss.twig") }}
    
</main>
{% endblock %}
