<input id="foot-packages" class="foot-check1" name="packages" type="checkbox">
<input id="foot-websites" class="foot-check2" name="websites" type="checkbox">
<input id="foot-networks" class="foot-check3" name="networks" type="checkbox">

<footer class="foot">
    <ul class="foot-list">
        <li class="foot-target1">
            <h3>
                <label for="foot-packages">
                    Packages
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal1">
                <li>
                    <a href="https://www.npmjs.com/package/animadio">Animadio CSS</a>
                </li>
                <li>
                    <a href="https://www.npmjs.com/package/animadio.js">Animadio JS</a>
                </li>
                <li>
                    <a href="https://packagist.org/packages/philippebeck/pam">Pam PHP</a>
                </li>
            </ul>
        </li>
        <li class="foot-target2">
            <h3>
                <label for="foot-websites">
                    Websites
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal2">
                <li>
                    <a href="https://animadio.org">Animadio</a>
                </li>
                <li>
                    <a href="https://astronomy.philippebeck.net">Astronomy</a>
                </li>
                <li>
                    <a href="https://devagency.net">DevAgency</a>
                </li>
                <li>
                    <a href="https://pam.philippebeck.net">Pam</a>
                </li>
            </ul>
        </li>
        <li class="foot-target3">
            <h3>
                <label for="foot-networks">
                    Networks
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal3">
                <li>
                    <a href="https://codepen.io/philippebeck">CodePen</a>
                </li>
                <li>
                    <a href="https://github.com/philippebeck">GitHub</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/philippebeck/">LinkedIn</a>
                </li>

                <li>
                    <a href="https://twitter.com/philippepjbeck">Twitter</a>
                </li>
            </ul>
        </li>
    </ul>

    <figure class="foot-visual">
        <a href="https://www.awin1.com/cread.php?s=2240829&v=13324&q=345813&r=742147" title="Get O2switch">
            <img src="https://www.awin1.com/cshow.php?s=2240829&v=13324&q=345813&r=742147" alt="O2switch Affiliation">
        </a>
    </figure>
</footer>
