<input id="foot-networks" class="foot-check1" name="networks" type="checkbox">
<input id="foot-packages" class="foot-check2" name="packages" type="checkbox">
<input id="foot-websites" class="foot-check3" name="websites" type="checkbox">

<footer class="foot">
    <ul class="foot-list">
        <li class="foot-target1">
            <h3>
                <label for="foot-networks">
                    Networks
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal1">
                <li>
                    <a href="https://codepen.io/animadio">Animadio @CodePen</a>
                </li>
                <li>
                    <a href="https://github.com/animadio">Animadio @GitHub</a>
                </li>
                <li>
                    <a href="https://twitter.com/animadio">Animadio @Twitter</a>
                </li>
                <li>
                    <a href="https://codepen.io/devsagency">DevsAgency @CodePen</a>
                </li>
                <li>
                    <a href="https://github.com/devsagency">DevsAgency @GitHub</a>
                </li>
                <li>
                    <a href="https://twitter.com/devsagency">DevsAgency @Twitter</a>
                </li>
                <li>
                    <a href="https://codepen.io/philippebeck">Philippe @CodePen</a>
                </li>
                <li>
                    <a href="https://github.com/philippebeck">Philippe @GitHub</a>
                </li>
                <li>
                    <a href="https://twitter.com/ph_beck">Philippe @Twitter</a>
                </li>
            </ul>
        </li>
        <li class="foot-target2">
            <h3>
                <label for="foot-packages">
                    Packages
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal2">
                <li>
                    <a href="https://www.npmjs.com/package/animadio">Animadio CSS</a>
                </li>
                <li>
                    <a href="https://www.npmjs.com/package/animadio.js">Animadio JS</a>
                </li>
                <li>
                    <a href="https://packagist.org/packages/devsagency/pam">Pam PHP</a>
                </li>
            </ul>
        </li>
        <li class="foot-target3">
            <h3>
                <label for="foot-websites">
                    Websites
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal3">
                <li>
                    <a href="https://animadio.org">Animadio</a>
                </li>
                <li>
                    <a href="https://asperger.philippebeck.net">Asperger</a>
                </li>
                <li>
                    <a href="https://astrology.philippebeck.net">Astrology</a>
                </li>
                <li>
                    <a href="https://astronomy.philippebeck.net">Astronomy</a>
                </li>
                <li>
                    <a href="https://devsagency.net">DevsAgency</a>
                </li>
                <li>
                    <a href="https://learn2code.devsagency.net">Learn2Code</a>
                </li>
                <li>
                    <a href="https://pam.devsagency.net">Pam</a>
                </li>
                <li>
                    <a href="https://philippebeck.net">Portal</a>
                </li>
            </ul>
        </li>
    </ul>

    <figure class="foot-visual">
    </figure>
</footer>
