<input id="foot-networks" class="foot-check1" type="checkbox">
<input id="foot-websites" class="foot-check2" type="checkbox">
<input id="foot-packages" class="foot-check3" type="checkbox">

<footer class="foot">
    <ul class="foot-list">
        <li class="foot-target1">
            <h3>
                <label for="foot-networks">Domains
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal1">
                <li>
                    <a href="https://animadio.org"
                        title="animadio.org">
                        Animadio
                    </a>
                </li>
                <li>
                    <a href="https://devsagency.net"
                        title="devsagency.net">
                        DevsAgency
                    </a>
                </li>
                <li>
                    <a href="https://philippebeck.net"
                        title="philippebeck.net">
                        Philippe Beck
                    </a>
                </li>
            </ul>
        </li>
        <li class="foot-target2">
            <h3>
                <label for="foot-websites">Websites
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal2">
                <li>
                    <a href="https://asperger.philippebeck.net"
                        title="Tests for Asperger Syndrome">
                        Asperger
                    </a>
                </li>
                <li>
                    <a href="https://astronomy.philippebeck.net"
                        title="NASA & CDS APIs">
                        Astronomy
                    </a>
                </li>
                <li>
                    <a href="https://pam.devsagency.net"
                        title="Pam Documentation">
                        Pam
                    </a>
                </li>
                <li>
                    <a href="https://tools2code.devsagency.net"
                        title="Tools for Coding">
                        Tools2Code
                    </a>
                </li>
            </ul>
        </li>
        <li class="foot-target3">
            <h3>
                <label for="foot-packages">Packages
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal3">
                <li>
                    <a href="https://www.npmjs.com/package/animadio"
                        title="Animadio CSS @npm">
                        Animadio CSS
                    </a>
                </li>
                <li>
                    <a href="https://www.npmjs.com/package/animadio.js"
                        title="Animadio JS @npm">
                        Animadio JS
                </a>
                </li>
                <li>
                    <a href="https://packagist.org/packages/devsagency/pam"
                        title="Pam PHP @Packagist">
                        Pam PHP
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    
    <ul class="row">
        <li>
            <a class="btn" 
                href="https://codepen.io/animadio"
                title="Animadio @CodePen">
                <i class="fab fa-codepen fa-2x fa-fw"></i>
            </a>
        </li>
        <li>
            <a class="btn-tw" 
                href="https://twitter.com/animadio"
                title="Animadio @Twitter">
                <i class="fab fa-twitter fa-2x fa-fw"></i>
            </a>
        </li>
        <li>
            <a class="btn-gh" 
                href="https://github.com/animadio"
                title="Animadio @GitHub">
                <i class="fab fa-github fa-2x fa-fw"></i>
            </a>
        </li>
    </ul>
</footer>