<input id="foot-developers" 
    class="foot-check1" 
    type="checkbox">
<input id="foot-websites" 
    class="foot-check2" 
    type="checkbox">

<footer class="foot">
    <ul class="foot-list">
        <li class="foot-target1">
            <h3>
                <label for="foot-developers">
                    Developers
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal1">
                <li>
                    <a href="https://animadio.org"
                        title="Animadio CSS Framework">
                        Animadio
                    </a>
                </li>
                <li>
                    <a href="https://tools2code.philippebeck.net"
                        title="Tools for Coding">
                        Tools2Code
                    </a>
                </li>
            </ul>
        </li>
        <li class="foot-target2">
            <h3>
                <label for="foot-websites">
                    Websites
                    <i class="fas fa-caret-up"></i>
                    <i class="fas fa-caret-down"></i>
                </label>
            </h3>
            <ul class="foot-goal2">
                <li>
                    <a href="https://asperger.philippebeck.net"
                        title="Tests for Asperger Syndrome">
                        Asperger
                    </a>
                </li>
                <li>
                    <a href="https://astronomy.philippebeck.net"
                        title="NASA & CDS APIs">
                        Astronomy
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    
    <ul class="row">
        <li>
            <a class="btn-gh"
            href="https://github.com/philippebeck"
                title="Philippe Beck @GitHub">
                <i class="fab fa-github fa-2x fa-fw"></i>
            </a>
        </li>
        <li>
            <a class="btn-tw"
                href="https://twitter.com/ph_beck"
                title="Philippe Beck @Twitter">
                <i class="fab fa-twitter fa-2x fa-fw"></i>
            </a>
        </li>
        <li>
            <a class="btn-in"
            href="https://www.linkedin.com/in/philippebeck"
                title="Philippe Beck @LinkedIn">
                <i class="fab fa-linkedin-in fa-2x fa-fw"></i>
            </a>
        </li>
        <li>
            <a class="btn"
            href="https://codepen.io/philippebeck"
                title="Philippe Beck @CodePen">
                <i class="fab fa-codepen fa-2x fa-fw"></i>
            </a>
        </li>
    </ul>
</footer>