<article class="menu-target1">
    <h2>Global</h2>

    <section class="card-purple">
        <figure>
            <i class="fas fa-infinity fa-7x"></i>
        </figure>
        <h3>Global Usage</h3>
        <p>The main feature of Animadio is the CSS variables usage, you can customize each variable directly from your CSS file !</p>
        <a class="btn" href="https://cdn.jsdelivr.net/npm/animadio@2.4.4/dist/animadio.css" title="Access to Animadio CDN" rel="noreferrer noopener" target="_blank">
            <i class="fas fa-server fa-lg color-white color-blue-into"></i>
        </a>
        <a class="btn" href="https://cdn.jsdelivr.net/npm/animadio.js@0.1.18/dist/animadio.js" title="Access to Animadio JS CDN" rel="noreferrer noopener" target="_blank">
            <i class="fas fa-server fa-lg color-white color-orange-into"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/dist/animadio.css" title="View CSS Library @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-css3 fa-lg color-white color-blue-into"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio.js/blob/master/dist/animadio.js" title="View JS Library @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-js-square fa-lg color-white color-orange-into"></i>
        </a>
    </section>

    <input id="sidebar-global-radio1" class="sidebar-radio1" type="radio" name="global" checked>
    <input id="sidebar-global-radio2" class="sidebar-radio2" type="radio" name="global">
    <input id="sidebar-global-radio3" class="sidebar-radio3" type="radio" name="global">
    <input id="sidebar-global-radio4" class="sidebar-radio4" type="radio" name="global">

    <nav class="sidebar">
        <label class="button-purple" for="sidebar-global-radio1" title="Show Variables Part">Variables</label>
        <label class="button-purple" for="sidebar-global-radio2" title="Show Keyframes Rules">Keyframes</label>
        <label class="button-purple" for="sidebar-global-radio3" title="Show Init Tags">Init</label>
        <label class="button-purple" for="sidebar-global-radio4" title="Show Container Classes">Container</label>
    </nav>

    <section class="sidebar-relay">
        <h3>Global Parts</h3>

        {{ include("front/global/variables.twig") }}
        {{ include("front/global/keyframes.twig") }}
        {{ include("front/global/init.twig") }}
        {{ include("front/global/container.twig") }}
    </section>
</article>
