<article class="sidebar-target3">
    <h4>Init</h4>

    <section class="card-navy">
        <h5>Init Infos</h5>
        <p>This part is here to normalize some tags effects.</p>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/global/variables/_init.var.scss" title="View SCSS Variables Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
        <a class="btn" href="https://github.com/animadio/animadio/blob/master/src/global/tags/_init.scss" title="View SCSS Classes Source @GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-sass fa-lg color-white color-magenta-into" aria-hidden="true"></i>
        </a>
    </section>

    <section>
        <h5>What Init does ?</h5>

        <p>Init is here to manage 3 kind of things :</p>
        <ol>
            <li>hide the 2 main classes : check & radio</li>
            <li>define on main tags important properties with certain values without the possibility to change them</li>
            <li>set custom properties to all necessary tags</li>
        </ol>
    </section>

    <section>
        <h5>How to change there values ?</h5>

        <p>Just choose <strong>the required variable</strong> with its selector in the following file :</p>
        <a class="btn-green" href="https://github.com/animadio/animadio/blob/master/src/global/variables/_init.var.scss" title="View all Init Tags" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-github-alt fa-3x" aria-hidden="true"></i>
            Init
        </a>

        <p>Then in your custom stylesheet file, write a CSS declaration with the necessary selector, the custom property to modify & <strong>the value you want</strong> !</p>

        <p>You can find more informations about the definitions of HTML tags here :</p>
        <a class="btn-blue" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" title="HTML Tags" rel="noreferrer noopener" target="_blank">HTML Elements</a>
    </section>
</article>
