<article class="menu-target1">
    <h4>Variables</h4>

    <section class="card-navy">
        <h5>Variables Infos</h5>
        <p>Animadio Variables are very easy to use because you can overload them directly inside any CSS file...</p>
    </section>

    <section>
        <h5>Why CSS variables ?</h5>

        <p><strong>Custom properties</strong> have the particularity of being overloaded directly from the custom stylesheet file...</p>
        <p>It is therefore possible to completely customize any element of the framework thanks to the <strong>CSS variables</strong>, in order to adapt it to each use case !</p>

    </section>

    <section>
        <h5>How to use CSS variables ?</h5>

        <p>Just choose <strong>the required variable</strong> with its selector in the required part :</p>
        <ul class="flex">
            <li>
                <a class="button-purple" href="https://github.com/animadio/animadio/blob/master/src/global/variables" title="View Global Variables" rel="noreferrer noopener" target="_blank">
                    <i class="fas fa-infinity fa-3x" aria-hidden="true"></i>
                    Global Variables
                </a>
            </li>
            <li>
                <a class="button" href="https://github.com/animadio/animadio/blob/master/src/box/variables" title="View Box Variables" rel="noreferrer noopener" target="_blank">
                    <i class="fas fa-box fa-3x" aria-hidden="true"></i>
                    Box Variables
                </a>
            </li>
            <li>
                <a class="button-red" href="https://github.com/animadio/animadio/blob/master/src/grid/variables" title="View Grid Variables" rel="noreferrer noopener" target="_blank">
                    <i class="fas fa-th fa-3x" aria-hidden="true"></i>
                    Grid Variables
                </a>
            </li>
            <li>
                <a class="button-green" href="https://github.com/animadio/animadio/blob/master/src/elements/variables" title="View Elements Variables" rel="noreferrer noopener" target="_blank">
                    <i class="fas fa-sitemap fa-3x" aria-hidden="true"></i>
                    Elements Variables
                </a>
            </li>
            <li>
                <a class="button-blue" href="https://github.com/animadio/animadio/blob/master/src/states/variables" title="View States Variables" rel="noreferrer noopener" target="_blank">
                    <i class="fas fa-cogs fa-3x" aria-hidden="true"></i>
                    States Variables
                </a>
            </li>
            <li>
                <a class="button-orange" href="https://github.com/animadio/animadio/blob/master/src/helpers/variables" title="View Helpers Variables" rel="noreferrer noopener" target="_blank">
                    <i class="fas fa-life-ring fa-3x" aria-hidden="true"></i>
                    Helpers Variables
                </a>
            </li>
        </ul>

        <p>Then in your custom stylesheet file, write a CSS declaration with the necessary selector, the custom property to modify & <strong>the value you want</strong> !</p>

        <p>You can find more informations about custom properties (CSS variables) usage here :</p>
        <a class="btn-blue" href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*" title="--*" rel="noreferrer noopener" target="_blank">Custom Properties</a>
        <a class="btn-blue" href="https://developer.mozilla.org/en-US/docs/Web/CSS/var" title="var()" rel="noreferrer noopener" target="_blank">Var Function</a>
        <a class="btn-blue" href="https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties" title="Custom Properties Usage" rel="noreferrer noopener" target="_blank">Variable Usage</a>
    </section>
</article>
