<article id="keyframes-home"
    class="menu-target3">
    <h2>
        <i class="fas fa-images fa-lg"></i>
        Keyframes
    </h2>

    <header class="head">
        Rules @keyframes are made for basic usage,
        to build complex animations, 
        it's necessary to use animation options...
    </header>

    <nav class="sidebar">
        <a href="#keyframes-home" 
            title="keyframes Home">
            <i class="fas fa-chevron-circle-up fa-fw"></i>
        </a>
        <a href="#keyframes-translate" 
            title="Translate Keyframes">
            <i class="fas fa-arrows-alt fa-fw"></i>
        </a>
        <a href="#keyframes-rotate" 
            title="Rotate Keyframes">
            <i class="fas fa-sync fa-fw"></i>
        </a>
        <a href="#keyframes-scale" 
            title="Scale Keyframes">
            <i class="fas fa-search-plus fa-fw"></i>
        </a>
        <a href="#keyframes-skew" 
            title="Skew Keyframes">
            <i class="fas fa-random fa-fw"></i>
        </a>                
    </nav>

    <i class="fas fa-chevron-down fa-2x mar-top-md"
        aria-hidden="true">
    </i>

    {% for category, keyframeCat in keyframes %}

    <section id="keyframes-{{ category }}">
        <h3>
            {{ category|title }} Keyframes
        </h3>

        <table class="table">
            <thead>
            <tr class="bg-violet-dark">
                <th>
                    Key
                </th>
                <th>
                    Producted Effect
                </th>
            </tr>
            </thead>
            <tbody>

                {% for keyframe in keyframeCat %} 
                <tr>
                    <td>
                        {{ keyframe.name }}
                    </td>
                    <td>
                        {{ keyframe.effect }}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </section>

    {% endfor %}
</article>
