<section class="menu-target3">
    <h2>Keyframes</h2>

    <header class="head">
        Rules @keyframes are made for basic usage,
        to build complex animations, 
        it's necessary to use animation options...
    </header>
</section>
