<section class="menu-target6">
    <h2>
        <i class="fas fa-industry fa-lg"></i>
        Mixins
    </h2>
    <header class="head">
        Mixins are used to create the library,
        but it's possible to use them to create a personalized library ! 
    </header>

    <table class="table">
        <thead>
            <tr class="bg-violet-light trans-up">
                <th>
                    Mixin
                </th>
                <th>
                    Generated Result
                </th>
            </tr>
        </thead>

        {% for mixin in mixins %} 
        <tr>
            <td>
                {{ mixin.name }}
            </td>
            <td>
                {{ mixin.result }}
            </td>
        </tr>
        {% endfor %}

    </table>
</section>
