<section class="menu-target5">
    <h2>
        <i class="fas fa-code fa-lg"></i>
        Tags
    </h2>
    <header class="head">
        HTML Tags have a specific design,
        but you don't have to do anything,
        only write your HTML code...
        <br>
        You can watch the source files here !
    </header>

    <ul>
        <li>
            <a class="button-green" 
                href="https://github.com/necolas/normalize.css/blob/master/normalize.css"
                title="Go to Normalize.css Code !">
                Normalize.css
            </a>
        </li>
        <li>
            <a class="button-green" 
            href="https://github.com/animadio/animadio/blob/master/src/base/_tags.scss"
                title="Go to Animadio Tags Code !">
                Animadio Tags
            </a>
        </li>
    </ul>
</section>
