<section class="menu-target1">
    <h2>Available Variables</h2>

    {% for category, variableCategory in variables %}

    <table class="table">
        <tr>
            <th class="color-violet bg-green-light trans-up">
                {{ category }}
            </th>
        </tr>

        {% for variable in variableCategory %} 
        <tr>
            <td>
                --{{ variable.variable }}
            </td>
        </tr>
        {% endfor %}

    </table>

    {% endfor %}
</section>
